<div th:fragment="item-table">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <th:block th:replace="fragment/info-card.html :: item-group-card"/>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <th:block th:replace="fragment/info-card.html :: item-card"/>
        </div>
        <div class="accordion-body">
          <th:block th:replace="fragment/info-card.html :: item-card"/>
        </div>
        <div class="accordion-body">
          <th:block th:replace="fragment/info-card.html :: item-card"/>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <th:block th:replace="fragment/info-card.html :: item-group-card"/>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <th:block th:replace="fragment/info-card.html :: item-card"/>
        </div>
        <div class="accordion-body">
          <th:block th:replace="fragment/info-card.html :: item-card"/>
        </div>
        <div class="accordion-body">
          <th:block th:replace="fragment/info-card.html :: item-card"/>
        </div>
      </div>
    </div>
  </div>
</div>