<th:block th:fragment="room-accordion">
    <div class="item-table-head">
        <div>이미지</div>
        <div>상품명</div>
        <div>기본 재고량</div>
        <div>판매량</div>
        <div>기준 인원</div>
        <div>최대 인원</div>
    </div>
    <div id="room-accordion">
        <div class="accordion" id="accordion-room">
            <th:block th:each="num : ${#numbers.sequence(1,5)}">
                <th:block th:replace="fragment/accordion.html :: accordion-item('accordion-room', 'room-'+${num})"/>
            </th:block>
        </div>
    </div>
</th:block>


<th:block th:fragment="accordion-item(accordionId, id)">
    <div class="accordion-item">
        <h2 class="accordion-header" th:id="${id}">
            <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse-'+${id}" th:aria-controls="'collapse-'+${id}" aria-expanded="true">
                <th:block th:replace="fragment/info-card.html :: room-card"/>
            </button>
        </h2>
        <div th:id="'collapse-'+${id}" class="accordion-collapse collapse" th:data-bs-parent="${accordionId}" th:aria-labelledby="${id}">
            <div class="accordion-body">
                <th:block th:replace="fragment/info-card.html :: room-card"/>
            </div>
            <div class="accordion-body">
                <th:block th:replace="fragment/info-card.html :: room-card"/>
            </div>
            <div class="accordion-body">
                <th:block th:replace="fragment/info-card.html :: room-card"/>
            </div>
        </div>
    </div>
</th:block>



<th:block th:fragment="accommodation-accordion">
    <div>
        <div class="item-group-table-head">
            <div>이미지</div>
            <div>상품 그룹명</div>
            <div>찜</div>
            <div>분류</div>
            <div>등록일</div>
            <div>상품 수</div>
        </div>
        <div class="accordion" id="accordion-accommodation">
            <th:block th:each="num : ${#numbers.sequence(1,3)}">
                    <th:block th:replace="fragment/accordion.html :: accordion-item-group('accordion-accommodation', 'accommodation-'+${num})"/>
            </th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="accordion-item-group(accordionId, id)">
    <div class="accordion-item">
        <h2 class="accordion-header" th:id="${id}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse-'+${id}" th:aria-controls="'collapse-'+${id}" aria-expanded="true">
                <th:block th:replace="fragment/info-card.html :: accommodation-card"/>
            </button>
        </h2>
        <div th:id="'collapse-'+${id}" class="accordion-collapse collapse" th:data-bs-parent="${accordionId}" th:aria-labelledby="${id}">
            <div class="accordion-body">
                <th:block th:replace="fragment/detail-article.html :: accommodation-detail"/>
            </div>
        </div>
    </div>
</th:block>