<th:block th:fragment="seller-customer-question">
    <div class="mb-3">
        <input type="text" class="form-control" id="title" placeholder="문의 제목" disabled>
    </div>
    <div class="mb-3">
        <textarea class="form-control" id="content" rows="3" readonly placeholder="문의 내용"></textarea>
    </div>
</th:block>

<th:block th:fragment="answer">
    <div class="form-floating">
        <textarea id="sellerAnswer" class="form-control pt-5" placeholder="Leave a comment here" style="height: 100px;"></textarea>
        <label for="sellerAnswer">답변</label>
    </div>
</th:block>