<aside th:fragment="sidebar" id="seller-sidebar"> <!-- #seller-sidebar -->

  <div id="sidebar__logo">
    <img th:src="@{/img/logo-white.gif}" alt="logo"/>
  </div>

  <ul>
    <a href="/">
      <li class="list-item active">관리 홈</li>
    </a>
    <!-- 상품 -->
    <li class="list-group__title"><th:block th:replace="fragment/sidebar.html :: item('상품')"/></li>
    <a href="/seller/item-management">
      <li class="list-item">상품 관리</li>
    </a>
    <a href="/seller/question-management">
      <li class="list-item">문의 관리</li>
    </a>
    <!-- 예약 / 결제 -->
    <li class="list-group__title"><th:block th:replace="fragment/sidebar.html :: item('예약 / 결제')"/></li>
    <a href="/seller/reservation-management">
      <li class="list-item">예약 관리</li>
    </a>
    <li class="list-item">결제 관리</li>
    <!-- 기타 -->
    <li class="list-group__title"><th:block th:replace="fragment/sidebar.html :: item('기타')"/></li>
    <li class="list-item">통계</li>
  </ul>

</aside>

<div class="sidebar__list-group" th:fragment="item(text)">
  <th:block th:text="${text}"/>
  <hr/>
</div>