<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
    <h1 class="font-size-32 margin-window-title-board col-auto">공지사항</h1>

    <div class="border-top padding-top-40">

        <table class="table table-bordered" id="noticeTable">
            <thead>
            <tr class="text-align-center">
                <td class="font-size-16">글번호</td>
                <td class="font-size-16">제목</td>
                <td class="font-size-16">작성일</td>
                <td class="font-size-16">작성자</td>
                <!--                    <td class="font-size-16">조회수</td>-->
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <!--페이지-->
        <nav class="margin-top-16" aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-end" id="noticePagingBtnGroup">
            </ul>
        </nav>
        <!--페이지 끝-->


    </div>

    <th:block layout:fragment="script">
        <script>
            // HTML 태그가 모두 로드된 후 실행
            document.addEventListener("DOMContentLoaded", function() {
                var DEFAULT_PAGE_SIZE = 10;

                // 데이터를 담을 태그를 선택자로 가져오는 영역
                var noticeTable = document.getElementById("noticeTable");
                var noticePagingBtnGroup = document.getElementById("noticePagingBtnGroup");

                var url = new URL(location.href);
                var currentPage = url.searchParams.get("currentPage");
                var pageSize = url.searchParams.get("pageSize");

                // 비동기 AJAX 통신으로 DB 데이터를 가져오는 영역
                fetch(`${BASE_URL}/api/notices/list/member?currentPage=${currentPage || 1}&pageSize=${pageSize || DEFAULT_PAGE_SIZE}`, {
                    method: 'GET'
                }).then(response => {
                    // 데이터 전처리
                    if (response.ok) {
                        return response.json();
                    }
                }).then(noticePagination => {
                    console.log(noticePagination)
                    // 실제 프론트 로직이 들어갈 영역
                    // 태그 엘리먼트에 데이터를 붙여주면 됨
                    var noticeTBody = noticeTable.getElementsByTagName("tbody")[0];
                    var commonPath = "/notices/noticeBoard";

                    noticeTBody.innerHTML = noticePagination.list.map(notice => {
                        return `<tr>`
                            + `<td>${notice.noticeId}</td>`
                            + `<td><a href="/notices?noticeId=${notice.noticeId}">${notice.title}</a></td>`
                            + `<td>${moment(notice.creatdAt).format(DATE_FORMAT_KOR)}</td>`
                            + `<td>${notice.nickname}</td>`
                            + `</tr>`
                    }).join('');

                    // 페이지 버튼이랑 연결
                    var _html = `
                    <li class="page-item ${noticePagination.hasPrev ? '' : 'disabled'}">
                        <a class="page-link" href="${commonPath}?currentPage=${noticePagination.startPage - 1}&pageSize=${pageSize || DEFAULT_PAGE_SIZE}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>`;

                    for (var i = noticePagination.startPage; i <= noticePagination.endPage; i++) {
                        _html += `<li class="page-item ${currentPage == i ? 'active' : ''}"><a class="page-link" href="${commonPath}?currentPage=${i}&pageSize=${pageSize || DEFAULT_PAGE_SIZE}">${i}</a></li>`;
                    }

                    _html += `
                    <li class="page-item ${noticePagination.hasNext ? '' : 'disabled'}">
                        <a class="page-link" href="${commonPath}?currentPage=${noticePagination.endPage + 1}&pageSize=${pageSize || DEFAULT_PAGE_SIZE}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>`;

                    noticePagingBtnGroup.innerHTML = _html;
                });
            });
        </script>
    </th:block>
</html>