<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
  <!--
      <td>글번호</td>
      <td>제목</td>
      <td>작성일</td>
      <td>비밀글 여부</td>
      <td>문의사항 종류</td>
      <td>작성자</td>
  -->

  <h1 class="font-size-32 margin-window-title-board margin-title col-auto margin-bottom-24">문의</h1>

  <div class="row border-top">
    <table class="w-100" id="qnaconTable">
      <tr>
        <td id="qnaTitle" colspan="2" class="padding-top-8 font-size-weight-20">제목(비밀글 여부 확인하는 아이콘도 후에 삽입)</td>
      </tr>
      <tr>
        <td id="qnaNickname">
          작성자
        </td>
        <td id="qnaCreatedAt">
          2021-10-21
        </td>
      </tr>
      <tr class="margin-bottom-40">
        <td style="width: 1%;" nowrap="">
          문의사항
        </td>
        <td id="qnaType">
          환불 관련 문의
        </td>
      </tr>
      <tr>
        <td colspan="2" class="border-top padding-bottom-40">
                <pre id="qnaContent">

당일 발송 상품을 구매 예정 또는 구매하신 고객님께서는 한번 더 숙지하여 주세요.



1. 당일 발송 상품은 오후 7시 이전까지 결제 및 입금이 완료되면 출고 가능합니다.

다만 무통장 입금의 경우 입금 확인까지 다소 시간이 소요될 수 있어 당일 출고가 불가할 수 있습니다.



2. 당일 발송 가능 단품 상품만 구매시 출고 가능하며, 일반 배송 상품과 함께 주문시 출고가 어려울 수 있습니다.



3. 당일 재고가 확인되더라도 순차적으로 출고되기 때문에 주문 수량이 많거나 검수시 불량이 발견될 경우 익일 또는 다소 기간이 소요될 수 있습니다.



4. 주문 후 옵션이나 정보를 변경하실 경우 주문서 확인 여부에 따라 당일 발송이 어려울 수 있습니다.



5. 사뿐에서 당일 발송이 되더라도, 택배사 사정에 의해 원하시는 날짜에 수령이 어려울 수 있습니다.
                </pre>
        </td>
      </tr>
    </table>
    <div class="row border-top padding-16 d-flex justify-content-end">
      <button type="button" class="btn col-auto margin-right-16 button_solid"><a href="qna" class="color-white a-button-solid" role="button">목록으로</a></button>
      <th:block th:if="${member != null && question != null && member.memberId == question.memberId}">
        <button type="button" class="btn col-auto margin-right-16 button_solid color-white a-button-solid" id="editBtn">글 수정</button>
<!--        <button type="button" class="btn col-auto margin-right-16 a-button-solid" id="button_solid"><a href="qnaans" class="color-white" >답변하기</a></button> &lt;!&ndash;구조 잡히고나면 어드민한테만 버튼 보이게 설정&ndash;&gt;-->
        <button type="button" class="btn col-auto button_solid color-white a-button-solid" id="deleteBtn">글 삭제</button>
      </th:block>
    </div>
  </div>

  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  <br><Br>
  ▼답변(답변은 구현 완료되고나면, 어드민만 버튼 클릭 할 수 있게 변경)
  <table>
    <tr>
      <td>(답변)내용</td>
      <td>(답변)내용 불러오는 메소드 넣어주세요</td>
    </tr>
  </table>
</div>

<th:block layout:fragment="script">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var qnaTitle = document.getElementById("qnaTitle");
      var qnaNickname = document.getElementById("qnaNickname");
      var qnaCreatedAt = document.getElementById("qnaCreatedAt");
      var qnaType = document.getElementById("qnaType");
      var qnaContent = document.getElementById("qnaContent");

      var editBtn = document.getElementById("editBtn");
      var deleteBtn = document.getElementById("deleteBtn");

      // JS로 URL의 쿼리 파라미터 가져오기
      var url = new URL(location.href);
      var questionId = url.searchParams.get("questionId");

      fetch(`${BASE_URL}/api/questions/${questionId}`, {
        method: 'GET'
      }).then(response => {
        if (response.ok) {
          return response.json();
        }
      }).then(qna => {
        // 태그 엘리먼트에 데이터를 붙여주면 됨
        qnaTitle.innerText = qna.title;
        qnaNickname.innerText = qna.nickname;
        qnaCreatedAt.innerText = moment(qna.createdAt).format(DATE_FORMAT_KOR);
        qnaType.innerText = qna.type;
        qnaContent.innerText = qna.content;
      });

      editBtn.addEventListener("click", () => {
        location.href = `/qnaupd?questionId=${questionId}`;
      });

      deleteBtn.addEventListener("click", () => {
        fetch(`${BASE_URL}/api/questions/${questionId}`, {
          method: 'DELETE'
        }).then(response => {
          if (response.ok) {
            return response.text();
          }
        }).then(msg => {
          location.href = '/qna';
        });
      });
    });
  </script>
</th:block>

</html>