<th:block th:fragment="item-management-tab">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#tab-room" type="button" role="tab" aria-controls="tab-room" aria-selected="true">
                객실 목록
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#tab-accommodation" type="button" role="tab" aria-controls="tab-accommodation" aria-selected="false">
                숙소 목록
            </button>
        </div>
    </nav>
    <div class="tab-content item-management-tab" id="nav-tabContent">
        <th:block th:replace="seller/fragment/tab.html :: tab-room" />
        <th:block th:replace="seller/fragment/tab.html :: tab-accommodation" />
    </div>
</th:block>

<th:block th:fragment="tab-room">
    <div class="tab-pane fade show active p-3" id="tab-room" role="tabpanel" aria-labelledby="tab-room">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2 d-flex justify-content-end">
                <a th:href="@{/seller/item-group-register}">
                    <button class="btn btn-primary">객실 추가</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <th:block th:replace="seller/fragment/accordion.html :: room-accordion" />
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="tab-accommodation">
    <div class="tab-pane fade p-3" id="tab-accommodation" role="tabpanel" aria-labelledby="tab-accommodation">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2 d-flex justify-content-end">
                <a th:href="@{/seller/item-group-register}">
                    <button class="btn btn-primary">숙소 추가</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <th:block th:replace="seller/fragment/accordion.html :: accommodation-accordion" />
            </div>
        </div>
    </div>
</th:block>