<h1 th:fragment="title_1(title)"
    th:text="${title}"
        class="font-size-40 margin-window-title  col-auto"
        id="title_1"/>

<h1 th:fragment="title_2(title)"
                          th:text="${title}"
                          class="font-size-32 margin-window-title  col-auto"
                          id="title_2"/>

<h1 th:fragment="title_3(title)"
    th:text="${title}"
    class="font-size-24 margin-window-title  col-auto"
    id="title_3"/>

<h1 th:fragment="title_4(title)"
    th:text="${title}"
    class="font-size-20 margin-window-title  col-auto"
    id="title_4"/>

<h1 th:fragment="title_5(title)"
    th:text="${title}"
    class="font-size-16 margin-window-title  col-auto"
    id="title_5"/>

<h1 th:fragment="title_1_noMargin(title)"
    th:text="${title}"
    class="font-size-40  col-auto"
    id="title_1_noMargin"/>

<h1 th:fragment="title_2_noMargin(title)"
    th:text="${title}"
    class="font-size-32  col-auto"
    id="title_2_noMargin"/>

<h1 th:fragment="title_3_noMargin(title)"
    th:text="${title}"
    class="font-size-24  position-relative col-auto"
    id="title_3_noMargin"/>

<h1 th:fragment="title_4_noMargin(title)"
    th:text="${title}"
    class="font-size-20  col-auto"
    id="title_4_noMargin"/>

<h1 th:fragment="title_5_noMargin(title)"
    th:text="${title}"
    class="font-size-16  col-auto"
    id="title_5_noMargin"/>