<div class="card" id="card" th:fragment="card(text)">
    <a href="product">
        <img src="img/서면.jpg" class="card-img-top" id="card-img" style="height: 240px;" alt="...">
        <div class="card-body d-flex justify-content-center align-items-center">
            <div class="row">
                <h5 class="card-title" style="text-align: center;" th:text="${text}"></h5>
            </div>
        </div>
    </a>
</div>


<a href="prodet" th:fragment="thumbnail_Card_a">
    <div class="row border bg-white rounded-3 border-2 margin-window margin-top-16">

        <div class="col-auto p-0">
            <img src="img/서면.jpg" class="" id="thumbnailCard-img" alt="...">
        </div>
        <div class="col margin-card">
            <div class="row d-flex justify-content-between">
                <div class="col-auto font-weight-bold font-size-20">메종글래드 제주</div>
                <div class="col-auto">
                    <input name="wish" id="heart" type="checkbox" th:fragment="heart">
                    <label for="heart">🖤</label><!--찜 구현 할 테이블 따로 만들어서 연결시켜주면 될 거 같아요-->
                </div>
            </div>
            <div class="row margin-top-16">
                <div class="col-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    서귀포시 서호중앙로 84
                </div>
            </div>
            <div class="row margin-top-40 d-flex justify-content-between">
                <div class="col-auto"><img src="img/star-signature.png" width="16" height="16">(3.96)</div>
                <div class="col-auto d-flex">
                    <div class="col-auto font-weight-bold">39,800원</div>
                    <div class="col-auto font-size-14 font-weight-bold color-primary">↓20%</div>
                    <div class="col-auto font-size-14 margin-left-8 color-gray text-decoration-line-through">50,000원</div>
                </div>
            </div>
        </div>
    </div>
</a>

<!--    <img src="img/서면.jpg" class="card-img-top" id="card-img" style="height: 240px;" alt="...">-->
<!--    <div class="card-body d-flex justify-content-center align-items-center">-->
<!--        <div class="row">-->
<!--            <h5 class="card-title" style="text-align: center;" th:text="${text}"></h5>-->
<!--        </div>-->
<!--    </div>-->

<div class="card" id="card" th:fragment="thumbnail_Card_b(text)">
    <!--상품그룹이랑 조인해서 상품 사진 가져오면 될 거 같아요-->
    <a href="prodet">
    <img src="img/서면.jpg" class="card-img-top" id="detail-card-img" alt="...">
    <div class="card-body p-0">
        <div class="row m-0 p-0 h-100 d-flex align-content-between">
            <div class="row m-0 p-0 d-flex justify-content-between">
                <div class="col-auto margin-bottom-24" th:text="${text}">제목<!--상품그룹이랑 조인해서 제목 가져오면 될 거 같아요--></div>
                <div class="col-auto">
                    <input name="wish" id="heart" type="checkbox" th:fragment="heart">
                    <label for="heart">🖤</label><!--찜 구현 할 테이블 따로 만들어서 연결시켜주면 될 거 같아요-->
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-auto margin-bottom-24">위치<!--상품그룹이랑 조인해서 주소 가져오면 될 거 같아요--></div>
            </div>
            <div class="row m-0 p-0 d-flex justify-content-between">
                <div class="col-auto" id="">별점<!--상품그룹이랑 조인해서 별점 가져오면 될 거 같아요--></div>
                <div class="col-auto">가격(인원)<!--어떻게 표현할 지 생각해봐야 할 거 같아요--></div>
            </div>
        </div>
    </div>
    </a>
</div>
