<th:block th:fragment="head">
<title>트립플랜</title>
    <meta charset="UTF-8"/>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"  th:fragment="boot_css"     />
    <link th:href="@{/css/variables.css}" rel="stylesheet" th:fragment="variablesCSS"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" th:fragment="slickCSS"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/productStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" th:fragment="customCSS"/>
    <link th:href="@{/css/multiple.css}" rel="stylesheet" th:fragment="multipleCSS"/>
</th:block>