<div class="form-check">
    <input class="form-check-input" type="radio" name="라디오 버튼 그룹 이름" id="버튼 각각의 이름_1" checked>
    <label class="form-check-label" for="버튼 각각의 이름_1>
        버튼 1
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="라디오 버튼 그룹 이름" id="버튼 각각의 이름_2">
    <label class="form-check-label" for="버튼 각각의 이름_2">
        버튼
    </label>
</div>
<!--라디오버튼 추가 복사용-->
<div class="form-check">
    <input class="form-check-input" type="radio" name="라디오 버튼 그룹 이름" id="버튼 각각의 이름_n">
    <label class="form-check-label" for="버튼 각각의 이름_n>
        버튼 3
    </label>
</div>