<div class="starpoint_wrap" th:fragment="star">
    <div class="starpoint_box">
        <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
        <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>
        <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
        <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>
        <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
        <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>
        <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
        <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>
        <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
        <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>
        <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
        <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
        <span class="starpoint_bg"></span>
    </div>
</div>







<div class="startRadio" th:fragment="star_2">
    <label class="startRadio__box">
        <input type="radio" name="star" id="star05">
        <span class="startRadio__img"><span class="blind">별 0.5개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star10">
        <span class="startRadio__img"><span class="blind">별 1개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star15">
        <span class="startRadio__img"><span class="blind">별 1.5</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star20">
        <span class="startRadio__img"><span class="blind">별 2개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star25">
        <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star30">
        <span class="startRadio__img"><span class="blind">별 3개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star35">
        <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star40">
        <span class="startRadio__img"><span class="blind">별 4개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star45">
        <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
    </label>
    <label class="startRadio__box">
        <input type="radio" name="star" id="star50">
        <span class="startRadio__img"><span class="blind">별 5개</span></span>
    </label>
</div>