<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="seller/layout/layout">
<th:block layout:fragment="content">
    <h2>상품 그룹 추가</h2>
    <div class="row mt-4">
        <div class="col-12">
            <form style="display: flex; flex-direction: column;">
                <input type="text" name="" placeholder="상품 그룹명" />
                <input type="text" name="" placeholder="요약 설명" />
                <input type="text" name="" placeholder="상세 설명" />
                <input type="text" name="" placeholder="상품 그룹 제목" />
                <input type="text" name="" placeholder="상품 그룹 제목" />
                <input type="text" name="" placeholder="상품 그룹 제목" />
                <input type="text" name="" placeholder="상품 그룹 제목" />
                <input type="text" name="" placeholder="상품 그룹 제목" />
                <input type="text" name="" placeholder="상품 그룹 제목" />
                <input type="text" name="" placeholder="상품 그룹 제목" />

                태그 선택기 <!-- List<TagDTO> -->
                옵션 <!-- List<> -->

            </form>
        </div>
    </div>
</th:block>
</html>