/* 변수 */
:root {
    --unit: 0.0625rem;

    --primary: #6ec4fa;
    --sub: #ffffff;

    /*
    변수 설정 시 px로 입력하지 마시고 아래 공식으로 작성해주세요
    calc(var(--unit)*원하는 픽셀)
    */
}

.slickButton{
    width: calc(var(--unit)*48);
}

.slick-prev {
    position: absolute;
    z-index: 99;
    top:120px;
    left: -50px;
}
.slick-next {
    position: absolute;
    z-index: 99;
    top:120px;
    right: -50px;
}

.background-100{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.mypNavText{/*마이페이지 포인터*/
    position: relative;
}

.mypNavText::before{ /* 추가요소::before */
    content: "";
    position: absolute;
    display: block;
    left: calc(var(--unit)*1);
    background-color: var(--primary);
    width: calc(var(--unit)*4);
    height: calc(var(--unit)*24);
    border-radius: calc(var(--unit)*3);;
}

.input-gray{
    border: 0px;
    border-radius: calc(var(--unit)*24);
    background-color: #d3d3d333;
}

.button-solid {
    /* 배경색이 있는 버튼 */
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}

.button-solid:hover {
    /* 배경색만 있는 버튼 */
    background-color: #25A1FA;
    color: var(--primary);
    border-color: var(--primary);
}

.button-solid:active {
    /* 배경색만 있는 버튼 */
    background-color: #0C97FA;
    color: var(--primary);
    border-color: var(--primary);
}

.button-outline {
    /* 테두리만 있는 버튼 */
    background-color: #fff;
    color: var(--primary);
    border-color: var(--primary);
}

.button-outline:hover {
    /* 배경색만 있는 버튼 */
    background-color: #25A1FA;
    color: var(--primary);
    border-color: var(--primary);
}

.button-outline:active {
    /* 배경색만 있는 버튼 */
    background-color: #0C97FA;
    color: var(--primary);
    border-color: var(--primary);
}

.slick-prev {
    position: absolute;
    z-index: 99;
    top:120px;
    left: -50px;
}
.slick-next {
    position: absolute;
    z-index: 99;
    top:120px;
    right: -50px;
}

.table-margin-auto {
    margin: auto;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}
.a-button-solid:hover{
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.font-size-40{
    font-size: calc(var(--unit)*40);
    font-weight: bold;
}
.font-size-32{/*섹션 타이틀 등 큰 제목(ex:인기 카테고리, 결제, 장바구니)*/
    font-size: calc(var(--unit)*32);
    font-weight: bold;
}
.font-size-24{
    font-size: calc(var(--unit)*24);
    font-weight: bold;
}
.font-size-20{
    font-size: calc(var(--unit)*20);
}
.font-size-16{/*일반적인 본문 내용*/
    font-size: calc(var(--unit)*16);
}
.font-size-14{/*비밀번호 찾기 등 소기능*/
    font-size: calc(var(--unit)*14);
}

.color-gray{
    color: gray;
}

.color-purple{
    color: #9c27b0cc;
}

.font-weight-normal{
    font-weight: normal;
}

.font-weight-bold{
    font-weight: bold;
}

.text-align-start{
    text-align: start;
}

.text-align-center{
    text-align: center;
}

.text-align-end{
    text-align: end;
}

.margin-section{
    margin-top: calc(var(--unit)*56);
    margin-left: calc(var(--unit)*32);
    margin-bottom: calc(var(--unit)*88);
}

.margin-title{
    margin-bottom: calc(var(--unit)*32);
}

.margin-window-title{ /*마이페이지 같이 네모 구역 여러 개로 나눠지는 곳에서 사용 할 타이틀*/
    padding-top: calc(var(--unit)*24);
    padding-bottom: calc(var(--unit)*16);
    padding-left: calc(var(--unit)*32);
    padding-right: calc(var(--unit)*16);
}

.margin-window-title-board{ /* jh 커스텀 해본 타이틀 (qnacon)*/
    padding-top: calc(var(--unit)*40);
    padding-bottom: calc(var(--unit)*16);
    padding-left: calc(var(--unit)*32);
    padding-right: calc(var(--unit)*16);
}

.margin-footer{
    margin-top: calc(var(--unit)*168);
}

.margin-window{
    margin-bottom: calc(var(--unit)*16);
}

.margin-card{
    padding: calc(var(--unit)*16);
}

.margin-prodet{
    margin-bottom:calc(var(--unit)*24);
}

.padding-detail-sector{
    padding: calc(var(--unit)*24);
    padding: calc(var(--unit)*24);
}

.full{
    width: 100%;
    height: 100%;
}

.margin-top-8{
    margin-top: calc(var(--unit)*8);
}
.margin-top-16{
    margin-top: calc(var(--unit)*16);
}
.margin-top-24{
    margin-top: calc(var(--unit)*24);
}
.margin-top-32{
    margin-top: calc(var(--unit)*32);
}
.margin-top-40{
    margin-top: calc(var(--unit)*40);
}


.margin-bottom-8{
    margin-bottom: calc(var(--unit)*8);
}
.margin-bottom-16{
    margin-bottom: calc(var(--unit)*16);
}
.margin-bottom-24{
    margin-bottom: calc(var(--unit)*24);
}
.margin-bottom-32{
    margin-bottom: calc(var(--unit)*32);
}
.margin-bottom-40{
    margin-bottom: calc(var(--unit)*40);
}

.margin-left-8{
    margin-left: calc(var(--unit)*8);
}
.margin-left-16{
    margin-left: calc(var(--unit)*16);
}
.margin-left-24{
    margin-left: calc(var(--unit)*24);
}
.margin-left-32{
    margin-left: calc(var(--unit)*32);
}
.margin-left-40{
    margin-left: calc(var(--unit)*40);
}

.margin-right-8{
    margin-right: calc(var(--unit)*8);
}
.margin-right-16{
    margin-right: calc(var(--unit)*16);
}
.margin-right-24{
    margin-right: calc(var(--unit)*24);
}
.margin-right-32{
    margin-right: calc(var(--unit)*32);
}
.margin-right-40{
    margin-right: calc(var(--unit)*40);
}

.margin-x-8{
    margin-left: calc(var(--unit)*8);
    margin-right: calc(var(--unit)*8);
}
.margin-x-16{
    margin-left: calc(var(--unit)*16);
    margin-right: calc(var(--unit)*16);
}
.margin-x-24{
    margin-left: calc(var(--unit)*24);
    margin-right: calc(var(--unit)*24);
}
.margin-x-32{
    margin-left: calc(var(--unit)*32);
    margin-right: calc(var(--unit)*32);
}
.margin-x-40{
    margin-left: calc(var(--unit)*40);
    margin-right: calc(var(--unit)*40);
}

.margin-y-8{
    margin-top: calc(var(--unit)*8);
    margin-bottom: calc(var(--unit)*8);
}
.margin-y-16{
    margin-top: calc(var(--unit)*16);
    margin-bottom: calc(var(--unit)*16);
}
.margin-y-24{
    margin-top: calc(var(--unit)*24);
    margin-bottom: calc(var(--unit)*24);
}
.margin-y-32{
    margin-top: calc(var(--unit)*32);
    margin-bottom: calc(var(--unit)*32);
}
.margin-y-40{
    margin-top: calc(var(--unit)*40);
    margin-bottom: calc(var(--unit)*40);
}

.margin-8{
    margin: calc(var(--unit)*8);
}
.margin-16{
    margin: calc(var(--unit)*16);
}
.margin-24{
    margin: calc(var(--unit)*24);
}
.margin-32{
    margin: calc(var(--unit)*32);
}
.margin-40{
    margin: calc(var(--unit)*40);
}

.padding-top-8{
    padding-top: calc(var(--unit)*8);
}
.padding-top-16{
    padding-top: calc(var(--unit)*16);
}
.padding-top-24{
    padding-top: calc(var(--unit)*24);
}
.padding-top-32{
    padding-top: calc(var(--unit)*32);
}
.padding-top-40{
    padding-top: calc(var(--unit)*40);
}

.padding-bottom-8{
    padding-bottom: calc(var(--unit)*8);
}
.padding-bottom-16{
    padding-bottom: calc(var(--unit)*16);
}
.padding-bottom-24{
    padding-bottom: calc(var(--unit)*24);
}
.padding-bottom-32{
    padding-bottom: calc(var(--unit)*32);
}
.padding-bottom-40{
    padding-bottom: calc(var(--unit)*40);
}

.padding-left-8{
    padding-left: calc(var(--unit)*8);
}
.padding-left-16{
    padding-left: calc(var(--unit)*16);
}
.padding-left-24{
    padding-left: calc(var(--unit)*24);
}
.padding-left-32{
    padding-left: calc(var(--unit)*32);
}
.padding-left-40{
    padding-left: calc(var(--unit)*40);
}

.padding-right-8{
    padding-right: calc(var(--unit)*8);
}
.padding-right-16{
    padding-right: calc(var(--unit)*16);
}
.padding-right-24{
    padding-right: calc(var(--unit)*24);
}
.padding-right-32{
    padding-right: calc(var(--unit)*32);
}
.padding-right-40{
    padding-right: calc(var(--unit)*40);
}

.padding-x-8{
    padding-left: calc(var(--unit)*8);
    padding-right: calc(var(--unit)*8);
}
.padding-x-16{
    padding-left: calc(var(--unit)*16);
    padding-right: calc(var(--unit)*16);
}
.padding-x-24{
    padding-left: calc(var(--unit)*24);
    padding-right: calc(var(--unit)*24);
}
.padding-x-32{
    padding-left: calc(var(--unit)*32);
    padding-right: calc(var(--unit)*32);
}
.padding-x-40{
    padding-left: calc(var(--unit)*40);
    padding-right: calc(var(--unit)*40);
}

.padding-y-8{
    padding-top: calc(var(--unit)*8);
    padding-bottom: calc(var(--unit)*8);
}
.padding-y-16{
    padding-top: calc(var(--unit)*16);
    padding-bottom: calc(var(--unit)*16);
}
.padding-y-24{
    padding-top: calc(var(--unit)*24);
    padding-bottom: calc(var(--unit)*24);
}
.padding-y-32{
    padding-top: calc(var(--unit)*32);
    padding-bottom: calc(var(--unit)*32);
}
.padding-y-40{
    padding-top: calc(var(--unit)*40);
    padding-bottom: calc(var(--unit)*40);
}

.padding-8{
    padding: calc(var(--unit)*8);
}
.padding-16{
    padding: calc(var(--unit)*16);
}
.padding-24{
    padding: calc(var(--unit)*24);
}
.padding-32{
    padding: calc(var(--unit)*32);
}
.padding-40{
    padding: calc(var(--unit)*40);
}

.margin-button-login{
    margin-left: calc(var(--unit)*16);
}

.border-0{
    border: 0px;
}

.background-color-none{
    background-color: #00000000;
}

.text-decoration-line-through{
    text-decoration: line-through;
}

.background-color-primary{
    background-color:var(--primary);
}
.color-primary{
    color: var(--primary);
}

.color-white{
    color: white;
    /*transform: translate( -50%, -50% );*/
}

.font-family-noto{
    font-family: 'Noto Sans KR';
}

.font-family-blackhansans{
    font-family: 'Black Han Sans';
}

.page-link{
    color: gray;
}

.pro-pho{
    width: calc(var(--unit)*120);
    height: calc(var(--unit)*120);
}







.post-slider{
    border:1px solid red;
}
.post-slider .post-wrapper{
    width:84%;
    height:350px;
    margin:0px auto;
    border:1px dashed red;
}
.post-slider .post-wrapper .post{
    width:300px;
    height:350px;
    display:inline-block;
    background:gray;
}

.carousel-inner{
    height: calc(var(--unit)*560);
}