<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form name="ItemGroupAddTags">
  itemGroupId<input name="itemGroupId" value="1"> <br>
  name<input name="name" value="1"> <br>
  summaryExplain<input name="summaryExplain" value="1"> <br>
  detailExplain<input name="detailExplain" value="1"> <br>
  itemCategory<input name="itemCategory" value="1"> <br>
  address<input name="address" value="1"> <br>
  addressDetail<input name="addressDetail" value="1"> <br>
  itemImg<input name="itemImg" value="1"> <br>
  detailImg<input name="detailImg" value="1"> <br>
  location<input name="location" value="1"> <br>
  lat<input name="lat" value="1"> <br>
  lng<input name="lng" value="1"> <br>
  file<input name="file" type="file">
  <input name="sellerId" type="hidden" value="1">
  <input name="tagIdList" type="hidden" value="1">
</form>
<button id="testBtn">제출</button>
<h3>수정</h3>
<script>
        document.addEventListener("DOMContentLoaded", function() {
            var testBtn = document.getElementById("testBtn");

            console.log("pri boolean: ",  document.itemGroupInsert.privateBusiness.checked);
            var formData = new FormData();

            testBtn.addEventListener("click", function() {
                formData.append("file", document.itemGroupInsert.file.files[0]);
                formData.append("itemGroup", new Blob([
                    JSON.stringify({
                        "itemGroupId": document.itemGroupInsert.itemGroupId.value,
                        "name": document.itemGroupInsert.name.value,
                        "summaryExplain": document.itemGroupInsert.summaryExplain.value,
                        "detailExplain": document.itemGroupInsert.detailExplain.value,
                        "itemCategory": document.itemGroupInsert.itemCategory.value,
                        "address": document.itemGroupInsert.address.value,
                        "addressDetail": document.itemGroupInsert.addressDetail.value,
                        "itemImg": document.itemGroupInsert.itemImg.value,
                        "detailImg": document.itemGroupInsert.detailImg.value,
                        "location": document.itemGroupInsert.location.value,
                        "lat": document.itemGroupInsert.lat.value,
                        "lng": document.itemGroupInsert.lng.value,
                        "sellerId": document.itemGroupInsert.sellerId.value,
                        "tagIdList": document.itemGroupInsert.tagIdList.value
                    })
                ], { type: "application/json" }));

                fetch(`http://localhost:8083/api/item-groups`, {
                    method: 'POST',
                    body: formData
                }).then(response => console.log(response));
            });
        });
    </script>
</body>
</html>