<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.AnswerMapper">

    <insert id="insert">
        INSERT INTO answer(question_id, content)
        values (#{questionId},#{content})
    </insert>

    <select id="select" resultType="com.triplan.domain.AnswerVO">
        SELECT * FROM answer where question_id=${questionId}
    </select>

    <update id="update">
        update answer
        set question_id=#{questionId},
        content=#{answerVO.content}
        where question_id=#{questionId}
    </update>

    <delete id="delete">
        delete from answer where question_id=#{questionId}
    </delete>
</mapper>