<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.AttachmentMapper">

    <insert id="insert">
        INSERT INTO attachment (
            about_table_type,
            id_in_table_type,
            origin_file_name,
            server_file_name,
            file_extension,
            file_size,
            upload_path
        ) VALUES (
            #{aboutTableType},
            #{idInTableType},
            #{originFileName},
            #{serverFileName},
            #{fileExtension},
            #{fileSize},
            #{uploadPath}
        )
    </insert>

    <insert id="insertAll">
        INSERT INTO attachment(
            about_table_type,
            id_in_table_type,
            origin_file_name,
            server_file_name,
            file_extension,
            file_size,
            upload_path
        ) VALUES
        <foreach collection="list" item="attachment" separator=" , ">
            (
            #{attachment.aboutTableType},
            #{attachment.idInTableType},
            #{attachment.originFileName},
            #{attachment.serverFileName},
            #{attachment.fileExtension},
            #{attachment.fileSize},
            #{attachment.uploadPath}
            )
        </foreach>
    </insert>

    <select id="select" resultType="AttachmentVO"> <!--특정 글에 저장된 첨부파일정보 -->
        SELECT  *
        FROM    attachment
        WHERE   about_table_type = #{aboutTableType}
        AND   id_in_table_type = #{idInTableType}
    </select>

    <select id="selectAll" resultType="AttachmentVO"> <!--특정 글에 저장된 첨부파일정보 -->
        SELECT  *
        FROM    attachment
        WHERE   about_table_type = #{aboutTableType}
        AND   id_in_table_type = #{idInTableType}
    </select>

    <select id="selectByAttachmentId" resultType="AttachmentVO"> <!--첨부파일id들로 첨부파일정보 반환-->
        SELECT  *
        FROM    attachment
        WHERE   attachment_id IN
        <foreach collection="list" item="attachmentId" separator=" , ">
            #{attachmentId}
        </foreach>
    </select>

    <delete id="delete"> <!--글 삭제시 첨부파일도 해당 글의 첨부파일정보 전부 삭제-->
        DELETE
        FROM    attachment
        WHERE   about_table_type = #{aboutTableType}
          AND   id_in_table_type = #{idInTableType}
    </delete>

    <delete id="deleteByAttachmentId"> <!--글 수정시 특정 첨부파일만 삭제-->
        DELETE
        FROM    attachment
        WHERE   attachment_id = #{attachmentId}
    </delete>

</mapper>