<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.FlightMapper">

    <insert id="insert">
        INSERT INTO flight (
            departure,
            destination,
            flight_type,
            seat_class,
            min_age,
            max_age,
            item_id
        ) VALUES (
            #{departure},
            #{destination},
            #{flightType},
            #{seatClass},
            #{minAge},
            #{maxAge},
            #{itemId}
        )
    </insert>

    <select id="select" resultType="FlightVO">
        SELECT  *
        FROM    flight
        WHERE   flight_id = #{flightId}
    </select>

    <update id="update">
        UPDATE  flight
        SET
                departure   = IFNULL(   #{departure},      departure    ),
                destination = IFNULL(   #{destination},    destination  ),
                flight_type = IFNULL(   #{flightType},     flight_type  ),
                seat_class  = IFNULL(   #{seatClass},      seat_class   ),
                min_age     = IFNULL(   #{minAge},         min_age      ),
                max_age     = IFNULL(   #{maxAge},         max_age      )
        WHERE
                flight_id   = #{flightId}
    </update>

    <delete id="delete">
        DELETE
        FROM    flight
        WHERE   flight_id = #{flightId}
    </delete>

</mapper>