<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.ItemSearchMapper">

    <select id="getList" resultType="ItemScheduleVO">
        SELECT *
          FROM Item_Schedule
    </select>

    <select id="getFilterAsDateDistinct" parameterType="map" resultType="ItemGroupVO">
        SELECT DISTINCT item.item_group_id
        FROM item
        JOIN item_group
        ON item.item_group_id = item_group.item_group_id
        LEFT OUTER JOIN item_group_tag
        ON item_group.item_group_id = item_group_tag.item_group_id
        WHERE item_id in(
        SELECT DISTINCT item_id
        FROM Item_Schedule
        <if test="Data != null">
            WHERE item_id IS NOT NULL
            <if test="startDate != null"> AND start_date &gt;= #{startDate}</if>
            <if test="endDate != null">   AND end_date &lt;= #{endDate}</if>
            <if test="underPrice != null">     AND price &lt;= #{underPrice}</if>
            <if test="overPrice != null">     AND price &gt;= #{overPrice}</if>
            )
        </if>
        <if test="tags != null">
            AND tag_id in( <foreach collection="tags" item="item" index="idx" separator=",">
            #{item}
        </foreach> )
        </if>
        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}

    </select>

    <select id="getCount" parameterType="map" resultType="Integer">
        SELECT count( DISTINCT item.item_group_id)
        FROM item
        JOIN item_group
        ON item.item_group_id = item_group.item_group_id
        LEFT OUTER JOIN item_group_tag
        ON item_group.item_group_id = item_group_tag.item_group_id
        WHERE item_id in(
        SELECT DISTINCT item_id
        FROM Item_Schedule
        <if test="Data != null">
            WHERE item_id IS NOT NULL
            <if test="startDate != null"> AND start_date &gt;= #{startDate}</if>
            <if test="endDate != null">   AND end_date &lt;= #{endDate}</if>
            <if test="underPrice != null">     AND price &lt;= #{underPrice}</if>
            <if test="overPrice != null">     AND price &gt;= #{overPrice}</if>
            )
        </if>
        <if test="tags != null">
            AND tag_id in( <foreach collection="tags" item="item" index="idx" separator=",">
            #{item}
        </foreach> )
        </if>

    </select>

    <select id="getFilterAndSort" parameterType="map" resultType="ItemGroupVO">
        SELECT DISTINCT item.item_group_id
        FROM item
        JOIN item_group
        ON item.item_group_id = item_group.item_group_id
        LEFT OUTER JOIN item_group_tag
        ON item_group.item_group_id = item_group_tag.item_group_id
        WHERE item_id in(
            SELECT DISTINCT item_id
            FROM Item_Schedule
            <if test="Data != null">
                WHERE item_id IS NOT NULL
                <if test="startDate != null"> AND start_date &gt;= #{startDate}</if>
                <if test="endDate != null">   AND end_date &lt;= #{endDate}</if>
                <if test="underPrice != null">     AND price &lt;= #{underPrice}</if>
                <if test="overPrice != null">     AND price &gt;= #{overPrice}</if>
            </if>
                )
        <if test="tags != null">
        AND tag_id in ( <foreach collection="tags" item="item" index="idx" separator=",">
            #{item}
            </foreach> )
        </if>

        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}

    </select>


</mapper>