<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.ItemGroupMapper">

    <insert id="insert">
        INSERT INTO item_group (
            name,
            summary_explain,
            detail_explain,
            item_category,
            address,
            address_detail,
            item_img,
            detail_img,
            location,
            lat,
            lng,
            seller_id
        ) VALUES (
            #{name},
            #{summaryExplain},
            #{detailExplain},
            #{itemCategory},
            #{address},
            #{addressDetail},
            #{itemImg},
            #{detailImg},
            #{location},
            #{lat},
            #{lng},
            #{sellerId}
        )
    </insert>

    <select id="select" resultType="ItemGroupVO">
        SELECT  *
        FROM    item_group
        WHERE   item_group_id = #{itemGroupId}

    </select>

    <update id="update">
        UPDATE  item_group
           SET
                name            = IFNULL(   #{name},            name                ),
                summary_explain = IFNULL(   #{summaryExplain},  summary_explain     ),
                detail_explain  = IFNULL(   #{detailExplain},   detail_explain      ),
                item_category   = IFNULL(   #{itemCategory},    item_category       ),
                address         = IFNULL(   #{address},         address             ),
                address_detail  = IFNULL(   #{addressDetail},   address_detail      ),
                item_img        = IFNULL(   #{itemImg},         item_img            ),
                detail_img      = IFNULL(   #{detailImg},       detail_img          ),
                location        = IFNULL(   #{location},        location            ),
                lat             = IFNULL(   #{lat},             lat                 ),
                lng             = IFNULL(   #{lng},             lng                 ),
                updated_at      = CURRENT_TIMESTAMP <!-- BaseVO를 상속 받은 테이블에 들어가는 공통 구문 -->
         WHERE
                item_group_id = ${itemGroupId}
    </update>

    <delete id="delete">
        DELETE
        FROM    item_group
        WHERE   item_group_id = ${itemGroupId}
    </delete>

</mapper>