<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.ItemGroupMapper">

    <resultMap id="item" type="item_group">

        <result property="itemGroupId" column="item_group_id"/>
        <result property="sellerId" column="seller_id"/>
        <result property="summaryExplain" column="summary_explain"/>
        <result property="detailExplain" column="detail_explain"/>
        <result property="detailImg" column="detail_img"/>
        <result property="itemImg" column="item_img"/>
        <result property="itemGroup" column="item_group"/>
        <result property="type" column="type"/>
        <result property="address" column="address"/>
        <result property="time" column="time"/>
        <result property="selectOption" column="select_option"/>
        <result property="minPurchaseQuantity" column="min_purchase_quantity"/>
        <result property="starScore" column="star_score"/>
        <result property="thumbnailImg" column="thumbnail_img"/>
        <result property="companyForeignkey" column="company_foreignKey"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
        <result property="location" column="location"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    
        <collection property="itemvo" ofType="item">
            <id property="itemGroupId" column="item_group_id"/>
            <result property="itemId" column="item_id"/>
            <result property="location" column="location"/>
            <result property="startDay" column="start_day"/>
            <result property="endDay" column="end_day"/>
            <result property="price" column="price"/>
            <result property="type" column="type"/>
            <result property="totalStock" column="total_stock"/>
            <result property="totalSalesCount" column="total_sales_count"/>
            <result property="introduce" column="introduce"/>
            <result property="detailImg" column="detail_img"/>
            <result property="discountPrice" column="discount_price"/>
            <result property="itemName" column="item_name"/>
        </collection>
    </resultMap>




    <select id="getList"  parameterType="item_group" resultMap="item">
        SELECT g.item_group_id, g.type, i.start_day, i.price, i.location, i.item_name
          FROM item_group g
          JOIN item i
            ON g.item_group_id = i.item_group_id
         WHERE g.item_group_id = #{num}
    </select>


    <insert id="insert">

        INSERT INTO item_group (
        seller_id,
        summary_explain,
        detail_explain,
        detail_img,
        item_img,
        item_group,
        type,
        address,
        time,
        select_option,
        min_purchase_quantity,
        star_score,
        thumbnail_img,
        company_foreignkey,
        lat,
        lng,
        location,
        created_at,
        updated_at
        ) VALUES(
        #{sellerId},
        #{summaryExplain},
        #{detailExplain},
        #{detailImg},
        #{itemImg},
        #{itemGroup},
        #{type},
        #{address},
        #{time},
        #{selectOption},
        #{minPurchaseQuantity},
        #{starScore},
        #{thumbnailImg},
        #{companyForeignkey},
        #{lat},
        #{lng},
        #{location},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <select id="read" resultType="com.triplan.domain.ItemGroupVO">
        SELECT item_group_id FROM item_group
         WHERE item_group_id = #{num}

    </select>

    <update id="update">
        UPDATE item_group
           SET
             seller_id =#{sellerId},
             summary_explain =#{summaryExplain},
             detail_explain =#{detailExplain},
             detail_img =#{detailImg},
             item_img =#{itemImg},
             item_group =#{itemGroup},
             type =#{type},
             address =#{address},
             time =#{time},
             select_option =#{selectOption},
             min_purchase_quantity =#{minPurchaseQuantity},
             star_score =#{starScore},
             thumbnail_img =#{thumbnailImg},
             company_foreignkey =#{companyForeignkey},
             lat =#{lat},
             lng =#{lng},
             location =#{location},
             created_at =#{createdAt},
             updated_at =#{updatedAt}

         WHERE item_group_id = ${num}
    </update>

    <delete id="delete">
        DELETE FROM item_group
         WHERE item_group_id = ${num}
    </delete>
</mapper>