<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.MemberMapper">

    <insert id="insert">
        INSERT INTO member (
            email,
            password,
            nickname
            <if test="provider != null">, provider</if>
        ) VALUES (
            #{email},
            #{password},
            #{nickname}
            <if test="provider != null">, #{provider}</if>
        )
    </insert>

    <select id="select" resultType="MemberVO">
        SELECT  *
        FROM    member
        WHERE   member_id = ${memberId}
    </select>

    <update id="update">
        UPDATE  member
        SET
                nickname    = IFNULL(   #{nickname},    nickname    ),
                grade       = IFNULL(   #{grade},       grade       ),
                profile_img = IFNULL(   #{profileImg},  profile_img ),
                point       = IFNULL(   #{point},       point       ),
                account     = IFNULL(   #{account},     account     ),
                updated_at  = CURRENT_TIMESTAMP <!-- BaseVO를 상속 받은 테이블에 들어가는 공통 구문 -->
        WHERE
                member_id   = #{memberId}
    </update>

    <update id="delete">
        UPDATE  member
        SET
        state       = 'UNREGISTER',
        deleted_at  = CURRENT_TIMESTAMP
        WHERE   member_id   = #{memberId}
    </update>

</mapper>