<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.NoticeMapper">

    <insert id="noticeInsert">
        INSERT INTO notice(title, content, target)
        VALUES (#{title}, #{content}, #{target})
    </insert>

    <select id="noticeSelect" resultType="com.triplan.domain.NoticeVO">
        select * from notice
        where notice_id = #{noticeId}
    </select>

    <update id="noticeUpdate">
        UPDATE notice
        SET
        title = #{title},
        updated_at = CURRENT_TIMESTAMP,
        content = #{content}
        where notice_id = #{noticeId}

    </update>

    <delete id="noticeDelete">
        DELETE FROM notice
        where notice_id = #{noticeId}
    </delete>

    <select id="noticeSellerList" resultType="NoticeVO">
        SELECT *
        FROM notice
        where target = #{target}
        ORDER BY notice_id DESC
        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}

    </select>
    <select id="noticeMemberList" resultType="NoticeVO">
        SELECT *
        FROM notice
        where target = #{target}
        ORDER BY notice_id DESC
        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}

    </select>

    <select id="countSeller" resultType="Integer">
        SELECT count(*)
        FROM notice
        where target = #{target}

    </select>

    <select id="countMember" resultType="Integer">
        SELECT count(*)
        FROM notice
        where target = #{target}

    </select>

    <select id="noticeAllList" resultType="NoticeVO">
        SELECT *
        FROM notice
        ORDER BY notice_id DESC
        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}

    </select>

    <select id="count" resultType="Integer">
        SELECT count(*)
        FROM notice
    </select>
</mapper>