<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.QuestionMapper">

    <insert id="insert">
        INSERT INTO question(
            title,
            content,
            qna_category_id,
            member_id,
            item_group_id,
            hide,
            type
        ) VALUES (
            #{title},
            #{content},
            #{qnaCategoryId},
            #{memberId},
            #{itemGroupId},
            #{hide},
            #{type}
        )
    </insert>

    <select id="select" resultType="com.triplan.domain.QuestionVO">
        SELECT  *
        FROM    question
        WHERE   question_id = ${questionId}
    </select>

    <update id="update">
        UPDATE  question
        SET
                title = #{title},
                content = #{content},
                qna_category_id = #{qnaCategoryId},
                hide = #{hide}
        WHERE
                question_id = #{questionId}
    </update>

    <delete id="delete">
        DELETE
        FROM    question
        WHERE   question_id = #{questionId}
    </delete>

    <select id="getQuestionList" resultType="QuestionVO">
        SELECT  *
        FROM    question
        WHERE   item_group_id = #{itemGroupId}
    </select>

    <!-- 판매자에게 물어보는 고객의 질문 목록 가져오기 -->
    <select id="getQuestionBySellerId" resultType="QuestionVO">
        SELECT  *
        FROM    question
        WHERE   item_group_id IN (
                SELECT item_group_id
                FROM   item_group
                WHERE  seller_id = #{sellerId} )
        ORDER BY created_at DESC
    </select>

    <!-- 자기가 한 문의 목록 보기 -->
    <select id="getQuestionListByMemberId" resultType="QuestionVO">
        SELECT  title, created_at
        FROM    question
        WHERE   member_id = #{memberId}
        ORDER BY created_at DESC
    </select>

    <select id="list" resultType="QuestionVO">
        SELECT  *
        FROM    question
        WHERE   type = 'CUSTOMER'
        ORDER BY question_id DESC
        LIMIT   (#{currentPage} - 1) * #{pageSize}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT  COUNT(*)
        FROM    question
        WHERE   type = 'CUSTOMER'
    </select>

</mapper>