<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.QuestionMapper">

    <!-- 문의글 작성 -->
    <insert id="insert">
        INSERT INTO question (
            title,
            content,
            qna_category_id,
            member_id,
            item_group_id,
            hide,
            type
        ) VALUES (
            #{title},
            #{content},
            #{qnaCategoryId},
            #{memberId},
            #{itemGroupId},
            #{hide},
            #{type}
        )
    </insert>

    <!-- 문의글 read -->
    <select id="select" resultType="com.triplan.domain.QuestionVO">
        SELECT  *
        FROM    question
        WHERE   question_id = ${questionId}
    </select>

    <!-- 문의 글 수정 -->
    <update id="update">
        UPDATE  question
        SET
                title           = IFNULL(       #{title},           title               ),
                content         = IFNULL(       #{content},         content             ),
                qna_category_id = IFNULL(       #{qnaCategoryId},   qna_category_id     ),
                member_id       = IFNULL(       #{memberId},        member_id           ),
                item_group_id   = IFNULL(       #{itemGroupId},     item_group_id       ),
                hide            = IFNULL(       #{hide},            hide                ),
                type            = IFNULL(       #{type},            type                )
        WHERE
                question_id = #{questionId}
    </update>

    <!-- 문의 글 삭제 -->
    <delete id="delete">
        DELETE
        FROM    question
        WHERE   question_id = #{questionId}
    </delete>

    <!-- Customer To Admin 페이징 -->
    <select id="listFromCustomerToAdmin" resultType="QuestionVO">
        SELECT  *
        FROM    question
        WHERE   type = 'CUSTOMER'
        AND   item_group_id IS NULL
        ORDER BY created_at DESC
        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}
    </select>

    <select id="countFromCustomerToAdmin" resultType="Integer">
        SELECT  COUNT(*)
        FROM    question
        WHERE   type = 'CUSTOMER'
        AND   item_group_id IS NULL
    </select>

    <!-- 페이징 -->
    <select id="listByItemGroupId" resultType="QuestionVO">
        SELECT  *
        FROM    question
        WHERE   type = 'CUSTOMER'
        AND   item_group_id = #{itemGroupId}
        ORDER BY created_at DESC
        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}
    </select>

    <select id="countByItemGroupId" resultType="Integer">
        SELECT  COUNT(*)
        FROM    question
        WHERE   type = 'CUSTOMER'
        AND   item_group_id = #{itemGroupId}
    </select>

    <!-- 판매자에게 물어보는 고객의 질문 목록 가져오기 -->
    <select id="listBySellerId" resultType="QuestionVO">
        SELECT  *
        FROM    question
        WHERE   type = 'SELLER'
          AND   item_group_id IN (
                SELLER  item_group_id
                FROM    item_group
                WHERE   seller_id = #{sellerId}
        )
        ORDER BY created_at DESC
        LIMIT (#{currentPage} - 1) * #{pageSize}, #{pageSize}
    </select>

    <select id="countBySellerId" resultType="Integer">
        SELECT  COUNT(*)
        FROM    question
        WHERE   type = 'SELLER'
          AND   item_group_id IN (
                SELLER  item_group_id
                FROM    item_group
                WHERE   seller_id = #{sellerId}
        )
    </select>

    <!-- 자기가 한 문의 목록 보기 -->
    <select id="listByMemberId" resultType="QuestionVO">
        SELECT  *
        FROM    question
        WHERE   member_id = #{memberId}
        ORDER BY created_at DESC
        LIMIT   (#{currentPage} - 1) * #{pageSize}, #{pageSize}
    </select>

    <select id="countByMemberId" resultType="Integer">
        SELECT  COUNT(*)
        FROM    question
        WHERE   member_id = #{memberId}
    </select>

</mapper>