<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.ReservationMapper">

     <insert id="insert">
        INSERT INTO reservation (res_id, member_id, item_id, total_price, discount_price, final_price, res_date, number_of_person, coupon, name, phone, type, usage1, complete_at, created_at, updated_at)
        VALUES (#{resId}, #{memberId}, #{itemId}, #{totalPrice}, #{discountPrice}, #{finalPrice}, #{resDate}, #{numberOfPerson}, #{coupon}, #{name}, #{phone}, #{type}, #{usage1}, #{completeAt}, #{createdAt}, #{updatedAt} )
    </insert>

    <select id="read" resultType="ReservationVO">
        SELECT *
        FROM reservation
        WHERE res_id = #{resId}
    </select>

    <update id="update">
        UPDATE reservation
        SET
            res_id = #{resId},
            member_id = #{memberId},
            item_id = #{itemId},
            total_price = #{totalPrice},
            discount_price = #{discountPrice},
            final_price = #{finalPrice},
            res_date = #{resDate},
            number_of_person = #{numberOfPerson},
            coupon = #{coupon},
            name = #{name},
            phone = #{phone},
            type = #{type},
            usage1 = #{usage1},
            complete_at = #{completeAt},
            created_at = #{createdAt},
            updated_at = #{updatedAt}
        WHERE res_id = #{resId}
    </update>

    <delete id="delete">
        DELETE FROM reservation
        WHERE res_id = #{resId}
    </delete>

    <insert id="reserve">
        INSERT INTO reservation (res_id, member_id, item_id, total_price, discount_price, final_price, res_date, number_of_person, coupon, name, phone, type)
        VALUES (#{resId}, #{memberId}, #{itemId}, #{totalPrice}, #{discountPrice}, #{finalPrice}, #{resDate}, #{numberOfPerson}, #{coupon}, #{name}, #{phone}, #{type})
    </insert>

</mapper>