<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.RoomMapper">

    <insert id="roomInsert">
        INSERT INTO room(item_id, number_of_person, max_person, name, img, res_date, add_person)
        VALUES (#{item_id}, #{number_of_person}, #{max_person}, #{name}, #{img}, #{res_date}, #{add_person})
    </insert>

    <select id="roomSelect" resultType="com.triplan.domain.RoomVO">
        SELECT *
        FROM room
        WHERE room_id = #{room_id}
    </select>

    <update id="roomUpdate">
        UPDATE room
        SET item_id = #{item_id},
            number_of_person = #{number_of_person},
            max_person = #{max_person},
            name = #{name},
            img = #{img},
            res_date = #{res_date},
            add_person = #{add_person}
        WHERE room_id = #{room_id}
    </update>

    <delete id="roomDelete">
        DELETE FROM room
        WHERE room_id = #{room_id}
    </delete>

</mapper>
