<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD//Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.WishlistMapper">

    <insert id="insert">
        INSERT INTO wishlist (
            item_group_id,
            member_id
        ) VALUES (
            #{itemGroupId},
            #{memberId}
        )
    </insert>

    <select id="select" resultType="ItemGroupVO">
        SELECT  *
        FROM    wishlist
        WHERE   wishlist_id = #{wishlistId}
    </select>

    <delete id="delete">
        DELETE
        FROM    wishlist
        WHERE   wishlist_id = #{wishlistId}
    </delete>

    <select id="list" resultType="com.triplan.dto.response.WishlistResponseDTO">
        SELECT
                wishlist_id,
                name,
                item_category,
                location,
                like_count,
                wl.created_at
        FROM
                wishlist wl JOIN item_group ig
        ON
                wl.item_group_id = ig.item_group_id
        WHERE
                member_id = #{memberId}
        ORDER BY
                wl.created_at DESC
        LIMIT
                (#{currentPage} - 1) * #{pageSize}, #{pageSize}
    </select>

    <select id="countByMemberId" resultType="Integer">
        SELECT
                COUNT(*)
        FROM
                wishlist wl JOIN item_group ig
        ON
                wl.item_group_id = ig.item_group_id
        WHERE
                member_id = #{memberId}
    </select>

    <select id="exist" resultType="boolean">
        SELECT EXISTS (
            SELECT  COUNT(*)
            FROM    wishlist
            WHERE   item_group_id = #{itemGroupId}
              AND   member_id = #{memberId}
        )
    </select>

</mapper>
