/* 관리 테이블 */
.question-table .fa-check {
    color: var(--question-table-answer-complete-color);
}

.item-management-tab > .tab-pane {
    background: var(--item-management-tab-background);
    border: 1px solid var(--item-management-tab-border-color);
    border-top-width: 0;
}

.accommodation-card > div,
.room-card > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accommodation-card .fa-heart {
    color: red;
}

/* 숙소 테이블 너비 */
.accommodation-card > div,
.item-group-table-head > div {
    width: 10%;
    padding: 0 calc(var(--unit) * 16);
}

.accommodation-card > div:nth-child(2),
.item-group-table-head > div:nth-child(2) {
    flex-grow: 1;
}

.accommodation-card > div:nth-child(3),
.item-group-table-head > div:nth-child(3) {
    width: 15%;
}

.accommodation-card > div:nth-child(5),
.item-group-table-head > div:nth-child(5) {
    width: 20%;
}

/* 객실 테이블 너비 */
.room-card > div,
.item-table-head > div {
    width: 15%;
    padding: 0 calc(var(--unit) * 16);
}

.room-card > div:nth-child(2),
.item-table-head > div:nth-child(2) {
    flex-grow: 1;
}

/* 숙소 관리 테이블 */
.item-group-table-head,
.item-table-head {
    display: flex;
    padding: calc(var(--unit) * 8) calc(var(--unit) * 20);
    margin-right: calc(var(--unit) * 20);
}

.item-group-table-head > div,
.item-table-head > div {
    display: flex;
    justify-content: center;
    font-weight: var(--font-weight-bold);
}


#room-accordion .accordion-title > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-management-thumbnail {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}