<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
        <table>
            <tr>
                <td>글번호</td>
                <td>제목</td>
                <td>작성일</td>
            </tr>
            <tr>
                <td>여기 메소드 넣어주세요</td>
                <td>여기 메소드 넣어주세요</td>
                <td>여기 메소드 넣어주세요</td>
            </tr>
        </table>
</div>
</html>