<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
    <div class="row sec-mag">
        <section class="col-7">
            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag"><!--네모구역-->
                <th:block th:replace="fragment/title :: title_2('상품 정보')"></th:block>
                <div class="row">
                    <div class="col-auto">
                        <img src="img/광안리.jpg" id="product_img">
                    </div>
                    <div class="col-auto" style="
    padding-left: 16px;
">
                        <div class="row 4 txt-4 txt-bold">
                            [특가 50% 할인!] 아이티윌 강의실 입장권
                        </div>
                        <div class="row txt-5">
                            <span class="offset-1">옵션 : <!--메소드--></span>
                        </div>
                        <div class="row txt-5">
                            <span class="offset-1">수량(인원) : <!--메소드--></span>
                        </div>
                        <div class="row txt-5">
                            <span class="offset-1">예약날짜 : <!--메소드--></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag">

            </div>
        </section>
        <section class="col-5">
            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag">
                <th:block th:replace="fragment/title :: title_2('예약자 정보')"></th:block><!--예약자 정보-->
<div class="row">
                <label>이름
                    <input  type="text" class="form-control" id="name"></input>
                </label>
            </div>
            <div class="row">
                <label>연락처
                    <input  type="text" class="form-control" id="phone"></input>
                </label></div>
            </div>
            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag">
                <th:block th:replace="fragment/title :: title_2('결제 수단')"></th:block>
            </div>
        </section>
    </div>
</div>
</html>