<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Triplan : 판매자 페이지</title>

    <link rel="stylesheet" th:href="@{/css/seller/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/seller/variables.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/seller/tags.css}"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" th:href="@{/css/seller/custom.css}"/>
    <th:block layout:fragment="head"/>
</head>
<body>
<div id="root">
    <!-- 사이드바 -->
    <section id="seller-sidebar-section">
        <th:block th:replace="seller/fragment/sidebar.html :: sidebar" />
    </section>

    <!-- 대시보드 컨텐츠 영역 -->
    <main class="seller-main">
        <th:block layout:fragment="content"/>
    </main>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <th:block layout:fragment="script"/>
</div>
</body>
</html>