/* 변수 */
:root {
    --unit: 0.0625rem;

    /* 색상 */
    /* Global Token */
    --color-primary: #6ec4fa;
    --color-sub: #ffffff;
    --color-dark: #333;
    --color-white: #fff;
    --color-light-gray: #F4F4F6;
    --color-gray-0: #F4F4F6;
    --color-gray-1: #DBDBDB;
    --color-gray-2: #A6A6A6;
    --color-gray-3: #999999;
    --color-gray-4: #767676;
    --color-gray-5: #656565;
    --color-gray-6: #454545;
    --color-gray-7: #333333;
    --color-gray-8: #262626;
    --color-navy: #8080B3;

    --color-bs-border: #dee2e6;

    --font-size-40: calc(var(--unit) * 40);
    --font-size-32: calc(var(--unit) * 32);
    --font-size-24: calc(var(--unit) * 24);
    --font-size-20: calc(var(--unit) * 20);
    --font-size-18: calc(var(--unit) * 18);
    --font-size-16: calc(var(--unit) * 16);
    --font-size-14: calc(var(--unit) * 14);

    --font-weight-bold: 800;
    --font-weight-normal: 400;

    --animation-fade-in: 1s ease-in;

    /* Alias Token */
    --color-background: var(--color-gray-0);
    --color-surface: var(--color-white);

    --color-font-white: var(--color-white);
    --color-font-light-gray: var(--color-gray-2);
    --color-font-gray: var(--color-gray-4);

    --font-size-h1: var(--font-size-40);
    --font-size-h2: var(--font-size-32);
    --font-size-h3: var(--font-size-24);
    --font-size-h4: var(--font-size-20);
    --font-size-h5: var(--font-size-18);
    --font-size-h6: var(--font-size-16);

    --font-size-large: var(--font-size-18);
    --font-size-body: var(--font-size-16);
    --font-size-small: var(--font-size-14);

    /* Component Specific Token */
    --seller-sidebar-width: calc(var(--unit) * 240);
}



/* Component Token */
.seller-main {
    --seller-main-min-width: calc(var(--unit) * 1024);
    --seller-main-padding: calc(var(--unit) * 32);
}

#seller-sidebar {
    --sidebar-background: var(--color-dark);
    --sidebar-width: var(--seller-sidebar-width);

    /* 로고 설정 */
    --sidebar-logo-height: calc(var(--unit) * 96);
    --sidebar-margin-bottom: 0;
    --sidebar-logo-padding: calc(var(--unit) * 24) calc(var(--unit) * 40);

    /* 사이드바 메뉴 설정 */
    --sidebar-list-group-color: var(--color-navy);
    --sidebar-h-padding: calc(var(--unit) * 24);
    --sidebar-item-v-padding: calc(var(--unit) * 12);

    /* 폰트 색상 설정 */
    --sidebar-font-color: var(--color-font-light-gray);
    --sidebar-hover-font-color: var(--color-font-white);

    --sidebar-group-title-font-size: var(--font-size-body);
    --sidebar-item-font-size: var(--font-size-h4);
}

.seller-info-record {
    --seller-info-record-width: calc(var(--unit) * 80);
}

.info-card-icon {
    --info-card-icon-background: var(--color-gray-0);
    --info-card-icon-color: var(--color-dark);
    --info-card-icon-size: calc(var(--unit) * 40);
    --info-card-icon-font-size: var(--font-size-20);
}

.question-table {
    --question-table-answer-complete-color: var(--bs-success);
}

.item-management-tab {
    --item-management-tab-background: var(--color-surface);
    --item-management-tab-border-color: var(--color-bs-border);
}