<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--head-->
<th:block th:replace="fragment/head :: head"/>

<body>
<div style="width: 1280px; margin: 0 auto;"><!--div로 태그 잡으면 width값이 안 먹힘, 일단 main으로 쓰고 추후에 해결하기-->
        <!--헤더-->
        <th:block th:replace="fragment/header :: header">
        </th:block>

        <!--메인-->
        <main>
                <th:block layout:fragment="content">
                  <!--이 안에 메인 내용이 들어감-->
                </th:block>
        </main>

        <!--푸터-->
        <th:block th:replace="fragment/footer :: footer"/>
</div>
<!--여기는 메인이랑 푸터가 안에 들어가있음-->
<!--공통 스크립트-->
<th:block th:replace="fragment/script :: script"/>

<!--스크롤버튼-->
<a type="button" onclick="topScrollBtn()"><img id="topBtn" th:src="@{/img/jhup.png}"></a>
<a type="button" onclick="bottomScrollBtn()"><img id="bottomBtn" th:src="@{/img/jhdown.png}"></a>
<script>
        function topScrollBtn() {
                window.scrollTo(0,0);
        }

        function bottomScrollBtn() {
                window.scrollTo(9999,9999);
        }
</script>

<script>
        (function() {
                var w = window;
                if (w.ChannelIO) {
                        return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
                }
                var ch = function() {
                        ch.c(arguments);
                };
                ch.q = [];
                ch.c = function(args) {
                        ch.q.push(args);
                };
                w.ChannelIO = ch;
                function l() {
                        if (w.ChannelIOInitialized) {
                                return;
                        }
                        w.ChannelIOInitialized = true;
                        var s = document.createElement('script');
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
                        s.charset = 'UTF-8';
                        var x = document.getElementsByTagName('script')[0];
                        x.parentNode.insertBefore(s, x);
                }
                if (document.readyState === 'complete') {
                        l();
                } else if (window.attachEvent) {
                        window.attachEvent('onload', l);
                } else {
                        window.addEventListener('DOMContentLoaded', l, false);
                        window.addEventListener('load', l, false);
                }
        })();
        ChannelIO('boot', {
                "pluginKey": "acdee5aa-5ad8-493c-86b0-0329531161c4"
        });
</script>

<th:block layout:fragment="script">
        <!--이 안에 커스텀 js 스크립트가 들어감-->
</th:block>
</body>
</html>