<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.mapper.cs.AnswerMapper">

    <insert id="insert">
        INSERT INTO answer (
            question_id,
            content
        ) VALUES (
            #{questionId},
            #{content}
        )
    </insert>

    <select id="select" resultType="AnswerVO">
        SELECT  *
        FROM    answer
        WHERE   question_id = ${questionId}
    </select>

    <update id="update">
        UPDATE  answer
        SET     content = #{answerVO.content}
        WHERE   question_id = #{questionId}
    </update>

    <delete id="delete">
        DELETE
        FROM    answer
        WHERE   question_id = #{questionId}
    </delete>

</mapper>