<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">

    <section class="sec-mag">
        <th:block th:replace="fragment/title :: title_2('부산 액티비티')"/>

        <div class="d-flex">
        <th:block th:replace="fragment/card :: card('서면(Seo-Myeon)')"/>
        <th:block th:replace="fragment/card :: card2('광안리(Gwang-an-ri)')"/>
        <th:block th:replace="fragment/card :: card3('해운대(Hae-un-dae)')"/>
    </div>
    </section>

    <section class="sec-mag">
        <th:block th:replace="fragment/banner :: banner"/>


    </section>


</div>



</html>

