<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 th:text="${item.name}" id="itemName"></h2>
    <h4 th:text="${item.explain}"></h4>

    <script>
        document.ready(function() {
            var itemNameElement = document.getElementById("itemName");

            var itemName = fetch().then(function(rdata) {
                itemNameElement = rdata;
            });
            var itemName = $ajax().success(function(rdata) {

            });
        });
    </script>
</body>
</html>