<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layoutFooX">

<div layout:fragment="content">
<!--컨네이터 대체 div 끝 -->
<img th:src="@{/img/background.png}" class="position-relative background-100" style="opacity: 60%;"/>
<div class="border position-absolute start-50 translate-middle bg-white rounded-3 border-2" style="top:500px;">
    <h3 class="fw-bold px-4 py-3">로그인</h3>
    <img src="img/sns로고.jpg" style="width: 50%;margin: auto;display: block;">
    <h6 class="text-center my-3" style="color:gray;">또는</h6>
    <form action="warning"><!--로그인 액션 실행할 파일이랑 연결시켜주세요-->
        <input
                class="form-control mb-2 rounded-3"
                style="width:200px; margin: auto;"
                id="email"
                type="text"
                aria-label="email"
                placeholder="이메일"
        />
        <input
                class="form-control mb-2 rounded-3"
                style="width:200px; margin: auto;"
                id="password"
                type="password"
                aria-label="password"
                placeholder="비밀번호"
        />
        <div class="row d-flex justify-content-between mt-3">
        <span class="mx-2 col-auto">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          로그인 유지
          </label>
        </span>
            <a class="col-auto me-2" href="#" style="display: inline;font-size:12px;">비밀번호 찾기</a>
        </div>
        <div class="row d-flex justify-content-center my-2">
            <input class="btn btn-primary col-auto my-2 button-solid" id="" type="submit" value="로그인">
        </div>
    </form>
</div>
</div>
</html>
