<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content" class="margin-top-40">
    <table style="width: 75%;"class="table table-bordered table-margin-auto margin-bottom-40">
        <tr class="text-align-center">
            <td style="width: 13%"  class="font-size-16">글번호</td>
            <td style="width: 12%" class="font-size-16" id="noticeId">1</td>
            <td style="width: 14%" class="font-size-16">작성일</td>
            <td style="padding-left: calc(var(--unit)*16);" class="font-size-16 text-align-start padding-left-16" id="noticeCreatedAt">2011-11-11</td>
        </tr>
        <tr>
            <td class="text-align-center">제목</td>
            <td style="padding-left: calc(var(--unit)*16);" colspan="3" id="noticeTitle">제목 불러오는 메소드 넣어주세요</td>
        </tr>
        <tr>
            <td class="text-align-center">내용</td>
            <td style="padding-left: calc(var(--unit)*16);" colspan="3" id="noticeContent">
                <pre>
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다</pre>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary button-outline" href="notice" role="button">목록으로</a>
<!--                    <a class="btn btn-primary button-solid margin-right-8" href="notupd" role="button">글 수정</a>-->
<!--                    <a class="btn btn-primary button-outline" href="warning" role="button">글 삭제</a>-->
                </div>
            </td>
        </tr>
    </table>
</div>

<th:block layout:fragment="script">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var noticeId = document.getElementById("noticeId");
            var noticeTitle = document.getElementById("noticeTitle");
            var noticeContent = document.getElementById("noticeContent");
            var noticeCreatedAt = document.getElementById("noticeCreatedAt");

            // JS로 URL의 쿼리 파라미터 가져오기
            var url = new URL(location.href);
            var noticeUrlId = url.searchParams.get("noticeId");

            fetch(`${BASE_URL}/api/notices/${noticeUrlId}`, {
                method: 'GET'
            }).then(response => {
                if (response.ok) {
                    return response.json();
                }
            }).then(notice => {
                // 태그 엘리먼트에 데이터를 붙여주면 됨
                noticeId.innerText = notice.noticeId;
                noticeTitle.innerText = notice.title;
                noticeContent.innerText = notice.content;
                noticeCreatedAt.innerText = moment(notice.createdAt).format(DATE_FORMAT_KOR);
            });
        });
    </script>
</th:block>
</html>