<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
    <h1 class="font-size-32 margin-window-title-board margin-title col-auto margin-bottom-24">공지사항</h1>

    <div class="border-top padding-top-40">

        <table class="table table-bordered" id="noticeTable">
            <tr class="text-align-center">
                <td class="font-size-16">글번호</td>
                <td class="font-size-16">제목</td>
                <td class="font-size-16">작성일</td>
                <td class="font-size-16">작성자</td>
                <td class="font-size-16">조회수</td>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="notcon">교통편 환불에 관한 공지사항</a></td>
                <td>2099-12-31</td>
                <td>김불상</td>
                <td>99999</td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>

        <button type="button" class="btn col-auto btn-primary background-color-primary" id="button_solid"><a href="qnawri" class="color-white a-button-solid">글 쓰기</a></button>

    </div>
</html>