<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
    <div class="row sec-mag">
        <section class="col-7">
            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag"><!--네모구역-->
                <th:block th:replace="fragment/title :: title_2('상품 정보')"></th:block>
                <img src="img/광안리.jpg" id="product_img">
            </div>

            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag"><!--네모구역-->
                <th:block th:replace="fragment/title :: title_2('상품 정보2')"></th:block>
                <img src="img/서면.jpg" id="product_img2">
            </div>

            <div class="border bg-white rounded-3 border-2"> <!-- 총 금액 -->
                총 금액
            </div>

        </section>
        <section class="col-5">
            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag"> <!--예약자 정보-->
                <th:block th:replace="fragment/title :: title_2('예약자 정보')"></th:block>
                    <div class="row col-11">
                <label>이름
                    <input  type="text" class="form-control" id="name"></input>
                </label>
            </div>
            <div class="row col-11">
                <label>연락처
                    <input  type="text" class="form-control" id="phone"></input>
                </label>
            </div>
            <div class="row col-11">
                <label>이메일
                    <input type="text" class="form-control" id="email"> </input>
                </label>
            </div>

            </div>
            <div class="border bg-white rounded-3 border-2  tit-win-mag win-mag">
                <th:block th:replace="fragment/title :: title_2('결제 수단')"></th:block>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment_type" id="pay_1">
                    <label class="form-check-label" for="pay_1"> 신용/체크카드
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment_type" id="pay_2">
                    <label class="form-check-label" for="pay_2"> 무통장입금
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment_type" id="pay_3">
                    <label class="form-check-label" for="pay_3"> 네이버페이
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment_type" id="pay_4">
                    <label class="form-check-label" for="pay_4"> 카카오페이
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment_type" id="pay_5">
                    <label class="form-check-label" for="pay_5"> 페이코
                    </label>
                </div>

                <div class="d_flex justify-content-center">
                <th:block th:replace="fragment/button :: solid('(최종결제금액)원 결제')">
                </div>

        </section>
    </div>
</div>
</html>