<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
    <th:block th:replace="fragment/title :: title_2('결제 정보')"></th:block>

    <div class="row margin-section d-flex justify-content-center">

            <div class="col-4 margin-left-16 border bg-white rounded-3 border-2 padding-16 margin-window">
                <th:block th:replace="fragment/title :: title_3('상품 정보')"></th:block>
                <div class="row  margin-left-32">
                    <div class="row d-flex justify-content-between">
                        <div class="col">예약번호</div>
                        <div class="col-auto" th:text="${payment.resId}"></div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">상품종류</div>
                        <div class="col-auto" id="item-category" th:text="${reservation.itemCategory}" ></div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">상품이름</div>
                        <div class="col-auto" th:text="${itemName}"></div>
                    </div>
                </div>
            </div>

            <div class="col-4 margin-left-16 border bg-white rounded-3 border-2 padding-16 margin-window">
                <th:block th:replace="fragment/title :: title_3('할인 정보')"></th:block>
                <div class="row  margin-left-32">
                    <div class="row d-flex justify-content-between">
                        <div class="col">할인 전 가격</div>
                        <div class="col-auto" th:text="${reservation.totalDiscountPrice}+${reservation.totalPrice}"></div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">할인가격</div>
                        <div class="col-auto" th:text="'-' + ${reservation.totalDiscountPrice}"></div>
                    </div>
                    <div class="row border-top d-flex justify-content-between">
                        <div class="col">지불금액</div>
                        <div class="col-auto" th:text="${reservation.totalPrice}"></div>
                    </div>
                </div>
            </div>

            <div class="col-4 margin-left-16 border bg-white rounded-3 border-2 padding-16 margin-window">
                <th:block th:replace="fragment/title :: title_3('예약 정보')"></th:block>
                <div class="row  margin-left-32">
                    <div class="row d-flex justify-content-between">
                        <div class="col">예약일시</div>
                        <div class="col-auto" id="reservation-date" th:text="${reservation.createdAt}">2011-11-11</div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">에약자이름</div>
                        <div class="col-auto" th:text="${reservation.name}">이민재천재</div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">예약자연락처</div>
                        <div class="col-auto" th:text="${reservation.phone}">010-5515-7419</div>
                    </div>
                </div>
            </div>

            <div class="col-4 margin-left-16 border bg-white rounded-3 border-2 padding-16 margin-window">
                <th:block th:replace="fragment/title :: title_3('결제 정보')"></th:block>
                <div class="row  margin-left-32">
                    <div class="row d-flex justify-content-between">
                        <div class="col">결제상태</div>
                        <div class="col-auto" id="payment-state" th:text="${payment.state}">결제 성공</div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">결제수단</div>
                        <div class="col-auto" id="payment-type" th:text="${payment.type}">체크 카드</div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">결제일시</div>
                        <div class="col-auto" id="payment-date" th:text="${payment.paidAt}">2011-11-11</div>
                    </div>
                </div>
            </div>

            <div class="col-8 border bg-white rounded-3 border-2 padding-16 margin-window" id="is-unpaid">
                <th:block th:replace="fragment/title :: title_3('무통장 정보')"></th:block>
                <div class="row  margin-left-32">
                    <div class="row d-flex justify-content-between">
                        <div class="col">입금 은행</div>
                        <div class="col-auto" th:text="${payment.accountBank}"></div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">계좌 번호</div>
                        <div class="col-auto" th:text="${payment.accountNumber}"></div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col">입금 기한</div>
                        <div class="col-auto" id="payment-deadline" th:text="${payment.paymentDeadline}"></div>
                    </div>
                </div>
            </div>

        <div class="row d-flex justify-content-end">
            <a class="btn btn-primary col-auto margin-right-16" href="#" id="button_outline" role="button">메인으로 돌아가기</a>
            <a class="btn btn-primary col-auto" href="#" id="button_solid" role="button">예약 조회</a>
        </div>

    </div>


    <script>
        var itemCategory = document.getElementById('item-category');
        var paymentState = document.getElementById('payment-state');
        var paymentType = document.getElementById('payment-type');
        var reservationDate = document.getElementById('reservation-date');
        var paymentDate = document.getElementById('payment-date');
        var paymentDeadlineDate = document.getElementById('payment-deadline');

        // 상품종류
         if(itemCategory.innerText === 'ROOM') {
             itemCategory.innerText = '숙소';
         } else if(itemCategory.innerText === 'FLIGHT') {
             itemCategory.innerText = '항공권';
         } else if(itemCategory.innerText === 'PACKAGE') {
             itemCategory.innerText = '패키지';
         }

         // 결제상태
         if(paymentState.innerText === 'UNPAID') {
             paymentState.innerText = '미완료';
         } else if(paymentState.innerText === 'PAID') {
             paymentState.innerText = '완료';
         }

         // 결제타입
         if(paymentType.innerText === 'CREDIT_CARD') {
             paymentType.innerText = '신용/체크카드';
         } else if(paymentType.innerText === 'TRANSFER_WITHOUT_ACCOUNT') {
             paymentType.innerText = '무통장 입금';
         } else if(paymentType.innerText === 'CELL_PHONE') {
             paymentType.innerText = '모바일 결제';
         } else if(paymentType.innerText === 'NAVER_PAY') {
             paymentType.innerText = '네이버페이';
         } else if(paymentType.innerText === 'KAKAO_PAY') {
             paymentType.innerText = '카카오페이';
         }

         // 예약일
         if(reservationDate.innerText) {
             var reservationDay = reservationDate.innerText.substring(0, 10).replaceAll('-', '.');
             var reservationTime = reservationDate.innerText.substring(11, 16).replaceAll('-', '.');
             reservationDate.innerText = reservationDay + '. ' + reservationTime;
         }

         // 결제일
         if(paymentDate.innerText) {
             var paymentDay = paymentDate.innerText.substring(0, 10).replaceAll('-', '.');
             var paymentTime = paymentDate.innerText.substring(11, 16).replaceAll('-', '.');
             paymentDate.innerText = paymentDay + '. ' + paymentTime;
         }

         // 결제마감일
         if(paymentDeadlineDate.innerText) {
             var paymentDeadlineDay = paymentDeadlineDate.innerText.substring(0, 10).replaceAll('-', '.');
             var paymentDeadlineTime = paymentDeadlineDate.innerText.substring(11, 16).replaceAll('-', '.');
             paymentDeadlineDate.innerText = paymentDeadlineDay + '. ' + paymentDeadlineTime;
         }

    </script>
</div>
</html>