<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
  <div layout:fragment="content">
    <div style="position: relative">
      <img
        src="img/topImage.jpg"
        style="height: 240px; width: 100%; opacity: 80%"
      />
      <div
        class="font-weight-bold font-size-40 color-white font-family-noto"
        style="position: absolute; top: 50%; left: 50%; opacity: 93%"
      >
        제주
      </div>
    </div>

    <!--브레드 크럼-->
    <!--    <nav style="&#45;&#45;bs-breadcrumb-divider: '>';" aria-label="breadcrumb">-->
    <!--        <ol class="breadcrumb margin-top-8">-->
    <!--            <li class="breadcrumb-item"><a href="#">예약</a></li>-->
    <!--            <li class="breadcrumb-item active" aria-current="page">액티비티</li>-->
    <!--        </ol>-->
    <!--    </nav>-->
    <!--브레드 크럼 끝-->

    <div class="row margin-section">
      <section class="col-3">
        <!--필터링 아코디언-->
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
              >
                지역(필터링 후순위 구현)
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingOne"
            >
              <div class="accordion-body">123</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo"
              >
                날짜(필터링 후순위 구현)
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo"
            >
              <div class="accordion-body">123</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree"
              >
                가격(필터링 후순위 구현)
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree"
            >
              <div class="accordion-body">123</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour"
              >
                옵션(필터링 후순위 구현)
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingFour"
            >
              <div class="accordion-body">123</div>
            </div>
          </div>
        </div>
        <!--필터링 아코디언-->

        <!--            <div class="border bg-white rounded-3 border-2  margin-title margin-window">-->
        <!--                필터링 넣을 곳(후순위 구현)-->
        <!--            </div>-->
      </section>
      <section class="col-9">
        <!--            <form>&lt;!&ndash;정렬 폼 제출&ndash;&gt;-->
        <!--                <input class="form-check-input" type="radio" name="alignment" id="new">-->
        <!--                <input class="form-check-input" type="radio" name="alignment" id="popular">-->
        <!--                <input class="form-check-input" type="radio" name="alignment" id="star">-->
        <!--                <input class="form-check-input" type="radio" name="alignment" id="lowPrice">-->
        <!--                <input class="form-check-input" type="radio" name="alignment" id="highPrice">-->

        <!--            정렬 :-->
        <!--                <label class="form-check-label" for="new"> 등록순</label> |-->
        <!--                <label class="form-check-label" for="popular"> 인기순</label> |-->
        <!--                <label class="form-check-label" for="star"> 별점순</label> |-->
        <!--                <label class="form-check-label" for="lowPrice"> 낮은 가격순</label> |-->
        <!--                <label class="form-check-label" for="highPrice"> 높은 가격순</label>-->
        <!--            </form>-->
        <div class="row d-inline p-0">
          정렬 : <a href="?">등록순</a> |
          <a href="?sortType=wish" class="padding-x-8">찜 많은 순</a> |
          <a href="#" class="padding-x-8">별점순</a> |
          <a href="?sortType=review" class="padding-x-8">리뷰 많은 순</a> |
          <a href="#" class="padding-x-8">높은 가격순</a>
        </div>

        <div class="d-flex flex-column" id="productCardContainer">
          <th:block th:replace="fragment/card :: thumbnail_Card_a"></th:block>
        </div>

        <nav aria-label="Page navigation example">
          <ul
            class="pagination justify-content-end"
            id="productPaginationGroup"
          ></ul>
        </nav>
      </section>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script>
      function clickWishlist(itemGroupId) {
        alert("click 위시리스트");
        fetch(`${BASE_URL}/api/wishlists?itemGroupId=${itemGroupId}`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              return response.text();
            }
          })
          .then((msg) => console.log(msg));
      }

      document.addEventListener("DOMContentLoaded", () => {
        var productCardContainer = document.getElementById(
          "productCardContainer"
        );
        var productPaginationGroup = document.getElementById(
          "productPaginationGroup"
        );

        var url = new URL(location.href);
        var pageSize = url.searchParams.get("pageSize") || 10;
        var currentPage = url.searchParams.get("currentPage") || 1;
        var sortType = url.searchParams.get("sortType") || "";

        fetch(
          `${BASE_URL}/api/item-groups/filter?pageSize=${pageSize}&currentPage=${currentPage}&sortType=${sortType}`,
          {
            method: "GET",
          }
        )
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
          })
          .then((pagination) => {
            console.log(pagination);

            var productCardList = [];

            pagination.list.forEach((itemGroup) => {
              productCardList.push(`<a href="prodet" th:fragment="thumbnail_Card_a">
                    <div class="row border bg-white rounded-3 border-2 margin-window margin-top-16">

                        <div class="col-auto p-0">
                            <img src="${BASE_URL}/resources${itemGroup.itemImg}" class="" id="thumbnailCard-img" alt="...">
                        </div>
                        <div class="col margin-card">
                            <div class="row d-flex justify-content-between">
                                <div class="col-auto font-weight-bold font-size-20">${itemGroup.name}</div>
                                <div class="col-auto">
                                    <input name="wish" id="heart" type="checkbox" th:fragment="heart" onclick="clickWishlist(${itemGroup.itemGroupId})">
                                    <label for="heart">🖤</label>
                                </div>
                            </div>
                            <div class="row margin-top-16">
                                <div class="col-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                    </svg>
                                    ${itemGroup.address}
                                </div>
                            </div>
                            <div class="row margin-top-40 d-flex justify-content-between">
                                <div class="col-auto"><img src="img/star-signature.png" width="16" height="16">(3.96)</div>
                                <div class="col-auto d-flex">
                                    <div class="col-auto font-weight-bold">39,800원</div>
                                    <div class="col-auto font-size-14 font-weight-bold color-primary">↓20%</div>
                                    <div class="col-auto font-size-14 margin-left-8 color-gray text-decoration-line-through">50,000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>`);

              productCardContainer.innerHTML = productCardList.join("");

              // 페이지네이션
              var _html = `<li class="page-item ${
                pagination.hasPrev ? "" : "disabled"
              }">
                  <a class="page-link" href="${BASE_URL}/product?pageSize=${pageSize}&currentPage=${
                pagination.startPage - 1
              }" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>`;

              for (var i = pagination.startPage; i <= pagination.endPage; i++) {
                _html += `<li class="page-item"><a class="page-link" href="${BASE_URL}/product?pageSize=${pageSize}&currentPage=${i}">${i}</a></li>`;
              }

              _html += `<li class="page-item ${
                pagination.hasNext ? "" : "disabled"
              }">
                    <a class="page-link" href="${BASE_URL}/product?pageSize=${pageSize}&currentPage=${
                pagination.endPage + 1
              }" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>`;
              productPaginationGroup.innerHTML = _html;
            });
          });
      });
    </script>
  </th:block>
</html>
