<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content" class="padding-top-40">
    <form action="warning">
        <table class="table-margin-auto margin-bottom-40" style="width: 60%">
            <tr>
                <td style="white-space:nowrap">제목</td>
                <td><input type="text" class="margin-top-16 margin-bottom-16 margin-left-8" name="subject" value="value에 원본 내용 불러오는 메소드 넣어주세요" style="width: 100%;"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td style="width: 97%;"><textarea name="content" class="margin-left-8"rows=10 style="height: 100%; width:100%;"> textarea 태그 사이에 원본 내용 불러오는 메소드 넣어주세요</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td style="width: 97%; text-align: end;">
                    <a class="btn btn-primary col-auto margin-top-8 margin-right-16" href="notupd" id="button_solid" role="button">글 수정</a>
                    <a class="btn btn-primary col-auto margin-top-8" href="notice" id="button_solid" role="button">취소</a>
                </td>
            </tr>
        </table>

    </form>
</div>
</html>