<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layoutFooX">

<div layout:fragment="content">
    <!--브레드 크럼-->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb margin-top-8">
            <li class="breadcrumb-item"><a href="product">예약</a></li>
            <li class="breadcrumb-item"><a href="product">액티비티</a></li>
            <li class="breadcrumb-item active" aria-current="page">[특가 50% 진행중!] 아이티윌 강의실 입장권</li>
        </ol>
    </nav>
    <!--브레드 크럼 끝-->

    <div class="row">
        <div class="col-9">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/광안리.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/해운대.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/서면.jpg..." class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-3">
            <div class="border bg-white rounded-3 border-2 margin-window-title margin-window">
                <div class="row d-flex align-items-end">
                    <span class="col-auto p-0 font-size-24 font-weight-bold margin-right-8">39,800원</span>
                    <span class="col-auto p-0 color-gray">부터</span></div>
<!--                <div class="row">(최대 13% 할인)</div>-->
                <div class="row">
                    <div class="row d-flex justify-content-center my-2">
                        <div class="row">
                            <button class="btn btn-primary col margin-bottom-8" id="button_solid">옵션 선택</button>
                            </button>
                        </div>

                        <div class="row">
                            <button class="btn btn-primary col" id="button_outline" onclick="myFunction()">
                                <span class="color-gray">🖤</span><!--나중에 백엔드랑 연동해서 상품그룹이 위시리스트에 들어있으면 primary 컬러로 변경되게 하기-->
                                찜하기
                                <span>(123)</span>
                            </button>
                        </div>

                        <form name="testForm" action="warning"><!--상품그룹id랑 회원id넘겨주는 액션 여기 매핑시켜주세요-->
                            <input type="hidden" name="item_group_id" value="99">
                            <input type="hidden" name="member_id" value="99">
                        </form>

                        <p id="demo"></p>

                        <script>
                            function myFunction() {
                                var testForm = document.testForm;
                                var txt;
                                var r = confirm("해당 상품을 찜 하시겠습니까?");
                                if (r == true) {
                                    testForm.submit();
                                    txt = "(위시리스트 등록)";
                                } else {

                                }
                                document.getElementById("demo").innerHTML = txt;
                            }
                        </script>

                    </div>

                </div>
                <div class="row "><!--별점-->
                    <div class="col-auto d-flex align-items-center">
                        <img src="img/star_signature.svg">
                        <span class="margin-left-8">(3.96)</span>
                    </div>
                </div>
            </div>



            <div class="accordion margin-bottom-8" id="업체정보1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="업체정보2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#업체정보3" aria-expanded="true" aria-controls="업체정보3"
                                id="업체정보4">
                            <div class="row m-0">아이티윌</div>
                        </button>
                    </h2>
                    <div id="업체정보3" class="accordion-collapse collapse" aria-labelledby="업체정보2" data-bs-parent="#업체정보1">
                        <div class="accordion-body">
                            업체정보
                        </div>
                    </div>
                </div>


            </div>
<!--            <div class="border bg-white rounded-3 border-2 margin-window-title">-->
<!--                <div class="row">업체 정보</div>-->
<!--            </div>-->
        </div>
    </div>



    <section class="margin-section">
        <!--타이틀-->
        <div class="row border-bottom">
            <span class="font-size-32 margin-bottom-16 col-auto"
                id="title_2_noMargin">[특가 50% 진행중!] 아이티윌 강의실 입장권</span>
        </div>

        <!--옵션 태그-->
        <div class="row border-bottom padding-detail-sector">
            <div class="col-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                    <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M8 13.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                </svg>
                <span>조건부 취소</span>
            </div>
            <div class="col-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                    <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                </svg>
                <span>모바일 티켓</span>
            </div>
        </div>


        <!--간략 설명-->
        <div class="row border-bottom padding-detail-sector">
            <pre>
부산 지역 최고의 강사들에게 자바 위주의 개발 교육을 받아보세요!

- 최신식 시설과 완벽한 컴퓨터 사양
- 개발 입문자들에게 알맞는 레슨 준비
- 최고의 강사진과 최고의 편의시설
- 지금 바로 예약해주세요!</pre>
        </div>

        <!--옵션 선택-->
        <div class="row border-bottom padding-detail-sector d-flex justify-content-between">
            <h1 class="font-size-24 mypNavText-24 margin-prodet position-relative col-auto"
                  id="title_3_noMargin">옵션 선택</h1>

            <div class="col-auto">
            <form action="warning">
                                                <input type="text" name="prodetCalender" class="col-auto"/>

                                                <script>
                                                    // 단일 날짜 선택용
                                                    $(function () {
                                                        $('input[name="prodetCalender"]').daterangepicker({
                                                            "locale": {
                                                                "format": "YYYY-MM-DD",
                                                                "separator": " ~ ",
                                                                "applyLabel": "확인",
                                                                "cancelLabel": "취소",
                                                                "fromLabel": "From",
                                                                "toLabel": "To",
                                                                "customRangeLabel": "Custom",
                                                                "weekLabel": "W",
                                                                "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],
                                                                "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                                                                "firstDay": 1
                                                            },
                                                            showDropdowns: true,
                                                            singleDatePicker: true,
                                                            showDropdowns: true,
                                                            minYear: 2020,
                                                            maxYear: 2099
                                                        }, function(start, end, label) {
                                                            var years = moment().diff(start, 'years');
                                                        });
                                                    });


                                                    // 다중 날짜 선택용
                                                    $(function () {
                                                        $('input[name="prodetCalender"]').daterangepicker({
                                                            "locale": {
                                                                "format": "YYYY-MM-DD",
                                                                "separator": " ~ ",
                                                                "applyLabel": "확인",
                                                                "cancelLabel": "취소",
                                                                "fromLabel": "From",
                                                                "toLabel": "To",
                                                                "customRangeLabel": "Custom",
                                                                "weekLabel": "W",
                                                                "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],
                                                                "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                                                                "firstDay": 1
                                                            },
                                                            "drops": "down"
                                                        }, function (start, end, label) {
                                                            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
                                                        });
                                                    });
                                                </script>

                <input class="btn btn-primary" id="button_outline" type="submit" value="조회">

            </form>
            </div>



<!--옵션 선택 창 1개-->
                <div class="border bg-white rounded-3 border-2  margin-bottom-8 padding-16">
                    <div class="row d-flex justify-content-between">
                        <span class="col-auto font-size-20 font-weight-bold">1인 강의권</span>
                        <div class="col-auto">
                            <span class="col-auto">39,900원</span>
                        </div>


                    <div class="row d-flex justify-content-between align-items-end">
                        <pre class="col-11">

- 1인 입장권
- 예약 완료 시에 문자로 안내 문자를 드립니다
- 장비는 함께 제공됩니다</pre>
                        <form action="pay" class="col-1">
                            <input type="hidden" name="총액" value="총액">
                            <input class="btn btn-primary col-auto" id="button_solid" type="submit" value="바로 예약">
                        </form>
                    </div>

        </div>
        </div>

        <!--옵션 선택 창 1개-->
        <div class="border bg-white rounded-3 border-2 margin-bottom-8 padding-16">
            <div class="row d-flex justify-content-between">
                <span class="col-auto font-size-20 font-weight-bold">1인 강의권</span>
                <div class="col-auto">
                    <span class="col-auto">39,900원</span>
                </div>


                <div class="row d-flex justify-content-between align-items-end">
                        <pre class="col-11">

- 1인 입장권
- 예약 완료 시에 문자로 안내 문자를 드립니다
- 장비는 함께 제공됩니다</pre>
                    <form action="pay" class="col-1">
                        <input type="hidden" name="총액" value="총액">
                        <input class="btn btn-primary col-auto" id="button_solid" type="submit" value="바로 예약">
                    </form>
                </div>

            </div>
        </div>














</div><!--옵션 종료-->

        <!--상세 설명-->
        <div class="row border-bottom padding-detail-sector">
            <h1 class="font-size-24 mypNavText-24 margin-prodet position-relative col-auto"
                id="title_3_noMargin">상세 설명</h1>
            <pre>
부산 지역 최고의 강사들에게 자바 위주의 개발 교육을 받아보세요!

- 최신식 시설과 완벽한 컴퓨터 사양
- 개발 입문자들에게 알맞는 레슨 준비
- 최고의 강사진과 최고의 편의시설
- 지금 바로 예약해주세요!</pre>
            <img src="img/광안리.jpg">
        </div>

        <!--위치-->
        <div class="row border-bottom padding-detail-sector">
            <h1 class="font-size-24 mypNavText-24 margin-prodet position-relative col-auto"
                id="title_3_noMargin">위치</h1>

            <!--위치 아코디언-->
            <div class="accordion margin-bottom-8" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                id="button-accordion-location">
                            <div class="row m-0">주소 : 부산광역시 부산진구 동천로 109 삼한골든게이트</div>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <img src="img/map.JPG" style="width: 100%;height: 100%;">
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <!--유의 사항-->
        <div class="row border-bottom padding-detail-sector">
            <h1 class="font-size-24 mypNavText-24 margin-prodet position-relative col-auto"
                id="title_3_noMargin">유의 사항</h1>
            <pre>
 - 예약시간 기준 최소 10분 전 방문 부탁드립니다.
 - 기상악화로 인한 강습 취소 시 전액 환불해드립니다.</pre>
        </div>

        <!--이용 방법-->
        <div class="row border-bottom padding-detail-sector">
            <h1 class="font-size-24 mypNavText-24 margin-prodet position-relative col-auto"
                id="title_3_noMargin">이용 방법</h1>
            <pre>
- 예약이 확정되면 문자로 안내를 드립니다.
- 예약 시간 기준 최소 10분 전 방문 부탁드립니다.</pre>

        </div>

        <!--취소 규정-->
        <div class="row border-bottom padding-detail-sector">
            <h1 class="font-size-24 mypNavText-24 margin-prodet position-relative col-auto"
                id="title_3_noMargin">취소 규정</h1>
            <pre>
 - 선택한 날짜로부터 7일 이전까지 취소 수수료 0% 발생
 - 선택한 날짜로부터 0일 ~ 6일 이전 취소 수수료 20% 발생</pre>

        </div>

        <!--리뷰-->
        <div class="row border-bottom padding-detail-sector">
        <th:block th:replace="fragment/title :: title_3_noMargin('리뷰')"></th:block>

        <!--리뷰 별점 보여주는 거(미완성이라 비활성화)-->
<!--    <div class="row mb-4 ms-2">-->
<!--        <div class="col-1 rounded-3 border-2 d-flex align-items-center" style="width: 56px;height: 56px;background-color: var(&#45;&#45;signature);color:white;">-->
<!--            <span>3.96</span>-->
<!--        </div>-->

<!--    </div>-->
    <form>
    <div class="row align-items-center">
        <div class="form-floating col-10">
            <textarea class="form-control" id="Review_Content" style="height: 100px;display: inline-block"></textarea>
        </div>
        <div class="row col-auto d-flex justify-content-center">
        <div class="col-auto">
            <!--별점-->
            <div class="startRadio col-auto p-0" th:fragment="star_2">
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="0.5">
                    <span class="startRadio__img"><span class="blind">별 0.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="1.0">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="1.5">
                    <span class="startRadio__img"><span class="blind">별 1.5</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="2.0">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="2.5">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="3">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="3.5">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="4">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="4.5">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star_score" id="5">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
            </div>
            <!--별점-->
        </div>
            <div class="row d-flex justify-content-center mt-2">
        <input class="btn btn-primary col-auto" id="button_solid" type="submit" value="작성"/>
            </div>
        </div>
    </div>
</form>
        <div class="row margin-top-32">
        <table class="col-12 font-size-14 margin-prodet" style="border: 1px;">
            <tr>
                <td rowspan="3" class="col-1">프사</td>
                <td class="d-flex justify-content-between padding-y-8">
                    <div>이민재 (2011.11.11)</div>
                    <div>
<!--                        <button><a href="notupd">글 수정</a></button>&lt;!&ndash;구현에 JS가 필요해서 일단 보류&ndash;&gt;-->
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a><!--리뷰 삭제 액션이랑 매핑해주세요-->
                    </div>
                </td>
            </tr>
            <tr>
                <td class="padding-y-8">별점</td>
            </tr>
            <tr>
                <td class="padding-y-8">
                    <p style="width: 95%;">
                    음악하는 지인들하고 같이 에버랜드를 갔는데 그 순간만큼은 어른이 아닌 동심가득한 어린아이처럼 정말 재밌게 놀고 왔습니다! 세상을 살면서 서로 공감대가 맞는 사람끼리 추억을 만든다는 것은 정말 값지고 소중하다는 것을 다시 느끼면서 다음에도 재미있고 기대 가득한 날들을 꿈꾸며 앞으로 많이 남은 인생 더 열심히 돈 벌고 즐기며 살 수 있게 에너지 충전하고 갑니다~~ 당일 에버랜드 도착하고 부랴부랴 예약했지만 1분안에 예약 완료되는 모습에 클룩 직원분들에게 정말 감사했습니다!! ㅎㅎ
                    </p>
                </td>
            </tr>
        </table>
        </div>
        </div>

        <!--추천 상품-->
        <div class="row border-bottom padding-detail-sector">
            <h1 class="font-size-24 mypNavText-24 margin-prodet position-relative col-auto"
                id="title_3_noMargin">Q&A</h1>
            <table style="border: 1px;border-style: solid;text-align: center;">
                <tr>
                    <td style="width: 5%;white-space: nowrap;">번호</td>
                    <td>제목</td>
                    <td style="width: 8%;white-space: nowrap;">작성자</td>
                    <td style="width: 10%;white-space: nowrap;">작성일</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="proqnacon">문의사항 있습니다.</a></td>
                    <td>이민재</td>
                    <td>2021-10-21</td>
                </tr>
            </table>

            <div class="row d-flex justify-content-end">
                <a class="btn btn-primary col-auto margin-top-8" id="button_solid" href="proqnawri" role="button">글 쓰기</a>
            </div>

            <nav class="margin-top-16" aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

<!--        &lt;!&ndash;추천 상품&ndash;&gt;-->
<!--        <div class="row border-bottom padding-detail-sector">-->
<!--            <th:block th:replace="fragment/title :: title_3_noMargin('추천 상품')"></th:block>-->
<!--        </div>-->
    </section>
</div>
</html>