<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content" class="margin-top-40">
    <table style="width: 45%;"class="table table-bordered table-margin-auto">
        <tr class="text-align-center">
            <td style="width: 13%"  class="font-size-16">글번호</td>
            <td style="width: 12%" class="font-size-16">1</td>
            <td style="width: 14%" class="font-size-16">작성일</td>
            <td style="width: 20%"  class="font-size-16">2011-11-11</td>
        </tr>
        <tr>
            <td class="text-align-center">제목</td>
            <td colspan="3">제목 불러오는 메소드 넣어주세요</td>
        </tr>
        <tr>
            <td class="text-align-center">내용</td>
            <td colspan="3">내용 불러오는 메소드 넣어주세요</td>
        </tr>
    </table>
    <div style="margin: auto; width: 50%;" class="row padding-16 d-flex justify-content-end">
        <button type="button" class="btn col-auto margin-right-16" id="button_solid"><a href="proqnaupd" class="color-white a-button-solid">글 수정</a></button>
        <button type="button" class="btn col-auto margin-right-16" id="button_solid"><a href="warning" class="color-white a-button-solid">답변하기</a></button> <!--구조 잡히고나면 어드민한테만 버튼 보이게 설정-->
    </div>
</div>
</html>