<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
        <table>
            <tr>
                <td>글번호</td>
                <td>제목</td>
                <td>작성일</td>
                <td>비밀글 여부</td>
                <td>문의사항 종류</td>
                <td>작성자</td>
            </tr>
            <tr>
                <td>글 번호 불러오는 메소드 넣어주세요</td>
                <td><a href="qnacon">제목 불러오는 메소드 넣어주세요</a></td>
                <td>작성일 불러오는 메소드 넣어주세요</td>
                <td>비밀글 여부 불러오는 메소드 넣어주세요</td>
                <td>문의사항 종류 불러오는 메소드 넣어주세요</td>
                <td>작성자 불러오는 메소드 넣어주세요</td>
            </tr>
        </table>
    <button><a href="qnawri">글 쓰기</a></button>
</div>
</html>