<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div layout:fragment="content">
    <!--
        <td>글번호</td>
        <td>제목</td>
        <td>작성일</td>
        <td>비밀글 여부</td>
        <td>문의사항 종류</td>
        <td>작성자</td>
    -->

    <h1 class="font-size-32 margin-window-title-board margin-title col-auto margin-bottom-24">문의</h1>

    <div class="row border-top">
        <table class="w-100" id="qnaconTable">
            <tr>
                <td colspan="2" class="padding-top-8 font-size-weight-20">제목(비밀글 여부 확인하는 아이콘도 후에 삽입)</td>
            </tr>
            <tr>
                <td>
                    작성자
                </td>
                <td>
                    2021-10-21
                </td>
            </tr>
            <tr class="margin-bottom-40">
                <td style="width: 1%;" nowrap="">
                    문의사항
                </td>
                <td>
                    환불 관련 문의
                </td>
            </tr>
            <tr>
                <td colspan="2" class="border-top padding-bottom-40">
                <pre>

당일 발송 상품을 구매 예정 또는 구매하신 고객님께서는 한번 더 숙지하여 주세요.



1. 당일 발송 상품은 오후 7시 이전까지 결제 및 입금이 완료되면 출고 가능합니다.

다만 무통장 입금의 경우 입금 확인까지 다소 시간이 소요될 수 있어 당일 출고가 불가할 수 있습니다.



2. 당일 발송 가능 단품 상품만 구매시 출고 가능하며, 일반 배송 상품과 함께 주문시 출고가 어려울 수 있습니다.



3. 당일 재고가 확인되더라도 순차적으로 출고되기 때문에 주문 수량이 많거나 검수시 불량이 발견될 경우 익일 또는 다소 기간이 소요될 수 있습니다.



4. 주문 후 옵션이나 정보를 변경하실 경우 주문서 확인 여부에 따라 당일 발송이 어려울 수 있습니다.



5. 사뿐에서 당일 발송이 되더라도, 택배사 사정에 의해 원하시는 날짜에 수령이 어려울 수 있습니다.
                </pre>
                </td>
            </tr>
        </table>
        <div class="row border-top padding-16 d-flex justify-content-end">
            <button type="button" class="btn col-auto margin-right-16" id="button_solid"><a href="qnaupd" class="color-white a-button-solid">글 수정</a></button>
            <button type="button" class="btn col-auto margin-right-16" id="button_solid"><a href="qnaans" class="color-white a-button-solid">답변하기</a></button> <!--구조 잡히고나면 어드민한테만 버튼 보이게 설정-->
            <button type="button" class="btn col-auto" id="button_solid"><a href="warning" class="color-white a-button-solid">글 삭제</a></button>
        </div>
    </div>

    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    <br><Br>
    ▼답변(답변은 구현 완료되고나면, 어드민만 버튼 클릭 할 수 있게 변경)
    <table>
        <tr>
            <td>(답변)내용</td>
            <td>(답변)내용 불러오는 메소드 넣어주세요</td>
        </tr>
    </table>
</div>
</html>