<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:insert="fragment/head :: head"></th:block>
<body>
<div style="width: 1280px; margin: 0 auto;" th:fragment="container">
    <header>
        <th:block th:replace="fragment/header :: header_top"></th:block>
        <th:block th:replace="fragment/header :: header_nav"></th:block>
    </header>
    <main class="d-flex justify-content-center" width="100%">
        <div style="margin-top: 40px; width=100%;">
            <h1 class="font-size-32">인기 카테고리</h1>
    <div class="d-flex justify-content-start mt-4" style="'width: 100%;">
        <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
        <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
        <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
        <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
        <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
    </div>
        </div>
    </main>
    <main class="d-flex justify-content-center" width="100%">
        <div style="margin-top: 40px; width=100%;">
            <h1 class="font-size-32">인기 카테고리</h1>
            <div class="d-flex justify-content-start mt-4" style="'width: 100%;">
                <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
                <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
                <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
                <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
                <th:block th:replace="fragment/card :: card('부산 액티비티')"/>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</div>
<th:block th:replace="fragment/script :: boot_js"></th:block>
</body>
</html>